/**
 * Layer Utility.
 */

// =============================================================================
// Utility
// =============================================================================

// =============================================================================
// Layout
// =============================================================================

/**
 * Display types.
 */

.u-block          { display: block !important; }
.u-flex           { display: flex; }
.u-inline         { display: inline !important; }
.u-inline-block   { display: inline-block !important; }
.u-inline-flex    { display: inline-flex; }
.u-inline-table   { display: inline-table; }
.u-table          { display: table; }
.u-table-row      { display: table-row; }
.u-table-group    { display: table-row-group; }
.u-table-cell     { display: table-cell; }

.u-none {
    &.--printer {
        @media print {
            display: none;
        }
    }
    &.--screen {
        display: none;
    }
}

/**
 * Flexbox related.
 */

[class*="flex"] {
    &.--grow {
        flex-grow: 1;
    }
    &.--shrink {
        flex-shrink: 1;
    }
    &.--wrap {
        flex-wrap: wrap;
    }
}

.u-align {
    &.--baseline {
        align-items: baseline;
    }
    &.--middle {
        align-items: center;
    }
    &.--bottom {
        align-items: flex-end;
    }
    &.--top {
        align-items: flex-start;
    }
    &.--stretch {
        align-items: stretch;
    }
}

.u-direction {
    &.--column {
        flex-direction: column;

        &.--reverse {
            flex-direction: column-reverse;
        }
    }
    &.--row {
        flex-direction: row;

        &.--reverse {
            flex-direction: row-reverse;
        }
    }
}

.u-justify {
    &.--around {
        justify-content: space-around;
    }
    &.--between {
        justify-content: space-between;
    }
    &.--center {
        justify-content: center;
    }
    &.--end {
        justify-content: flex-end;
    }
    &.--start {
        justify-content: flex-start;
    }
}

/**
 * Floats and clear(s).
 */

.u-float {
    &.--left {
        float: left;
    }
    &.--right {
        float: right;
    }
}

.u-clear {
    &.--both {
        clear: both;
    }
    &.--left {
        clear: left;
    }
    &.--right {
        clear: right;
    }
}

.u-group {
    @extend %group;
}

/**
 * Position.
 */

.u-absolute   { position: absolute !important; }
.u-relative   { position: relative !important; }
.u-static     { position: static !important; }

.u-off {
    &.--reader {
        @extend %reader;
    }
    &.--screen {
        left: -100vw;
        position: absolute;
        top: -100vh;
    }
}

/**
 * Spacing.
 */

.u-push {
    padding: {
        left: $utility-indent;
        right: $utility-indent;
    }
}

/**
 * Overflow.
 */

.u-overflow {
    &.--hidden {
        overflow: hidden;
    }
    &.--visible {
        overflow: visible;
    }
}


// =============================================================================
// Typography
// =============================================================================

.u-font {
    &.--bold {
        font-weight: 400;
    }
    &.--italic {
        font-style: italic;
    }
    &.--large {
        font-size: 1.2em;
    }
    &.--normal {
        font: {
            style: normal;
            weight: normal;
        }
    }
    &.--small {
        font-size: 0.9em;
    }
}

.u-transform {
    &.--capital { text-transform: capitalize; }
    &.--lower   { text-transform: lowercase; }
    &.--none    { text-transform: none; }
    &.--upper   { text-transform: uppercase; }
}

.u-left   { text-align: left !important; }
.u-center { text-align: center !important; }
.u-right  { text-align: right !important; }

.u-top            { vertical-align: top !important; }
.u-middle         { vertical-align: middle !important; }
.u-baseline       { vertical-align: baseline !important; }
.u-text-bottom    { vertical-align: text-bottom !important; }
.u-bottom         { vertical-align: bottom !important; }

.u-wrap   { @include word-wrap; }
.u-nowrap { @include word-wrap(false); }

.u-truncate {
    @include text-truncate;
}

.u-rhythm {
    margin-bottom: rhythm-get() !important;
}

/**
 * Heading imitators.
 * These just mimic heading styles.
 */

@each $i in (1 2 3 4 5) {
    .u-h#{$i} {
        @extend h#{$i};
    }
}

/**
 * Visibility.
 */

.u-hidden  { visibility: hidden; }
.u-visible { visibility: visible; }
