/**
 * Layer Utility.
 */

// =============================================================================
// Utility
// =============================================================================

// =============================================================================
// Layout
// =============================================================================

/**
 * Display types.
 */

.u-block          { display: block !important; }
.u-flex           { display: flex; }
.u-inline         { display: inline !important; }
.u-inline-block   { display: inline-block !important; }
.u-inline-flex    { display: inline-flex; }
.u-inline-table   { display: inline-table; }
.u-table          { display: table; }
.u-table-row      { display: table-row; }
.u-table-group    { display: table-row-group; }
.u-table-cell     { display: table-cell; }

.u-none {
    &.--printer {
        @media print {
            display: none;
        }
    }
    &.--screen {
        display: none;
    }
}

/**
 * Filters.
 */

.u-filter {
    &.--monochrome {
        filter: grayscale(100%);
    }
}

/**
 * Flexbox related.
 */


.u-grow[class] {
    flex-grow: 1;

    &.--nope {
        flex-grow: 0;
    }
}
.u-shrink[class] {
    flex-shrink: 1;

    &.--nope {
        flex-shrink: 0;
    }
}

[class*="flex"] {
    &.--wrap {
        flex-wrap: wrap;

        &.--nope {
            flex-wrap: nowrap;
        }
    }
}

.u-align {
    &.--baseline {
        align-items: baseline;
    }
    &.--middle {
        align-items: center;
    }
    &.--bottom {
        align-items: flex-end;
    }
    &.--top {
        align-items: flex-start;
    }
    &.--stretch {
        align-items: stretch;
    }
}

.u-direction {
    &.--column {
        flex-direction: column;

        &.--reverse {
            flex-direction: column-reverse;
        }
    }
    &.--row {
        flex-direction: row;

        &.--reverse {
            flex-direction: row-reverse;
        }
    }
}

.u-justify {
    &.--around {
        justify-content: space-around;
    }
    &.--between {
        justify-content: space-between;
    }
    &.--center {
        justify-content: center;
    }
    &.--end {
        justify-content: flex-end;
    }
    &.--start {
        justify-content: flex-start;
    }
}

/**
 * Floats and clear(s).
 */

.u-float {
    &.--left {
        float: left;
    }
    &.--none {
        float: none;
    }
    &.--right {
        float: right;
    }
}

.u-clear {
    &.--both {
        clear: both;
    }
    &.--left {
        clear: left;
    }
    &.--right {
        clear: right;
    }
}

.u-group {
    @extend %group;
}

/**
 * Position.
 */

.u-absolute   { position: absolute !important; }
.u-relative   { position: relative !important; }
.u-static     { position: static !important; }

.u-off {
    &.--reader {
        @extend %reader;
    }
    &.--screen {
        left: -100vw;
        position: absolute;
        top: -100vh;
    }
}

/**
 * Spacing.
 */

.u-push {
    padding: {
        left: $utility-indent;
        right: $utility-indent;
    }
}

/**
 * Overflow.
 */

.u-overflow {
    &.--hidden {
        overflow: hidden;
    }
    &.--visible {
        overflow: visible;
    }
}


// =============================================================================
// Typography
// =============================================================================

.u-font {
    &.--bold {
        font-weight: 400;
    }
    &.--italic {
        font-style: italic;
    }
    &.--large {
        font-size: 1.2em;
    }
    &.--normal {
        font: {
            style: normal;
            weight: 300;
        }
    }
    &.--small {
        font-size: 0.9em;
    }
}

.u-rhythm {
    margin-bottom: rhythm-get() !important;
}

.u-transform {
    &.--capital { text-transform: capitalize; }
    &.--lower   { text-transform: lowercase; }
    &.--none    { text-transform: none; }
    &.--upper   { text-transform: uppercase; }
}

.u-text {
    &.--center  { text-align: center !important; }
    &.--left    { text-align: left !important; }
    &.--right   { text-align: right !important; }

    &.--baseline { vertical-align: baseline !important; }
    &.--bottom   { vertical-align: bottom !important; }
    &.--middle   { vertical-align: middle !important; }
    &.--top      { vertical-align: top !important; }
}

.u-text {
    @each $modifier in (danger, neutral, notice, success, warning) {
        &.--#{$modifier} {
            color: map-fetch($color-set, accent, $modifier, 50);
        }
    }
}

.u-truncate {
    @include text-truncate;
}

.u-wrap {
    &:not(.--nope) {
        @include word-wrap;
    }
    &.--nope {
        @include word-wrap(false);
    }
}

.u-whitespace {
    &.--normal {
        white-space: normal;
    }
    &.--nowrap {
        white-space: nowrap;
    }
    &.--pre {
        white-space: pre;
    }
    &.--prewrap {
        white-space: pre-wrap;
    }
}

/**
 * Heading imitators.
 * These just mimic heading styles.
 */

@each $i in (1 2 3 4 5) {
    .u-h#{$i} {
        @extend h#{$i};
    }
}

/**
 * Visibility.
 */

.u-hidden  { visibility: hidden; }
.u-visible { visibility: visible; }


// =============================================================================
// Print
// =============================================================================

/**
 * Page break.
 * Browsers don't support `avoid` for `page-break-before` & `page-break-after`
 *  (only `page-break-inside`).
 * @link http://caniuse.com/#feat=css-page-break
 */

.u-break {
    @media print {
        &.--after {
            &.--always {
                page-break-after: always;
            }
        }
        &.--before {
            &.--always {
                page-break-before: always;
            }
        }
        &.--inside {
            &.--always {
                page-break-inside: always;
            }
            &.--avoid {
                page-break-inside: avoid;
            }
        }
    }
}
