/**
 * Provides `IE Edge` content block.
 * Use carefully!
 *
 * @link https://goo.gl/5Dssv8
 *
 * @param {String} $content
 */

@mixin ie-edge {
    @supports (-ms-ime-align: auto) {
        @content;
    }
}
