/**
 * Component Button.
 *
 * @requires {function}    px-to-em
 * @requires {placeholder} %emt--alignment
 * @requires {placeholder} %emt--medium
 * @requires {placeholder} %emt--size
 * @requires element
 */

// =============================================================================
// Button
// =============================================================================

%btn {
    @extend %btn--length;
    @extend %btn--mean;
    @extend %emt--alignment !optional;
    @extend %emt--medium !optional;
    @extend %emt--size !optional;

    align-items: center;
    background-color: map-get($button-background, initial);
    border: {
        color: map-get($button-border-color, initial);
        radius: $button-border-radius;
        width: $button-border-size;
        style: solid;
    }
    box-shadow: $button-box-shadow;
    color: map-get($button-color, initial);
    cursor: pointer;
    display: inline-flex;
    letter-spacing: px-to-em($button-letter-spacing);
    outline: 0;
    padding: {
        bottom: 0;
        top: 0;
    }
    text-shadow: $button-text-shadow;
    transition:
        background-color 0.2s,
        border-color 0.2s,
        box-shadow 0.2s,
        color 0.2s;
    user-select: none;
    white-space: nowrap;

    &[class] {
        text-decoration: none;
    }
}


.btn {
    @extend %btn;
    @extend %btn__event;

    text-transform: uppercase;
}

/**
 * Modifiers.
 */

/**
 * Button, length by indentation.
 */

%btn--length {
    @each $modifier in map-keys($button-indent) {
        &.--#{$modifier} {
            @extend %btn--#{$modifier};
        }
    }
    @each $modifier in map-keys($button-indent) {
        $indent: map-get($button-indent, $modifier);

        @at-root %btn--#{$modifier} {
            padding: {
                left: $indent;
                right: $indent;
            }
        }
    }
}

/**
 * Button, primary.
 */

%btn {
    &.--primary {
        background-color: map-get($button--primary-background, initial);
        border-color: map-get($button--primary-border-color, initial);
        color: map-get($button--primary-color, initial);
    }
}

/**
 * Button, secondary.
 */

%btn {
    &.--secondary {
        background-color: map-get($button--secondary-background, initial);
        border-color: map-get($button--secondary-border-color, initial);
        color: map-get($button--secondary-color, initial);
    }
}

/**
 * Button, tertiary.
 */

%btn {
    &.--tertiary {
        background-color: map-get($button--tertiary-background, initial);
        border-color: map-get($button--tertiary-border-color, initial);
        color: map-get($button--tertiary-color, initial);
    }
}

/**
 * Button, themes.
 */

%btn {
    @each $modifier, $theme in $button-theme {
        $color: map-get($theme, 50);

        &.--#{$modifier} {
            background-color: $color;
            border-color: darken($color, 3%);
            color: $white;
        }
    }
}

/**
 * States.
 */

/**
 * Button, active (aka pressed).
 */

%btn {
    &:active,
    &.is-active {
        &:not(:disabled):not(.is-disabled) {
            background-color: map-get($button-background, active);
            border-color: map-get($button-border-color, active);
            box-shadow: none;
            color: map-get($button-color, active);

            &.--primary {
                background-color: map-get($button--primary-background, active);
                border-color: map-get($button--primary-border-color, active);
                color: map-get($button--primary-color, active);
            }
            &.--secondary {
                background-color: map-get($button--secondary-background, active);
                border-color: map-get($button--secondary-border-color, active);
                color: map-get($button--secondary-color, active);
            }
            &.--tertiary {
                background-color: map-get($button--tertiary-background, active);
                border-color: map-get($button--tertiary-border-color, active);
                color: map-get($button--tertiary-color, active);
            }

            @each $modifier, $theme in $button-theme {
                $color: lighten(map-get($theme, 20), 2%);

                &.--#{$modifier} {
                    background-color: $color;
                    border-color: darken($color, 3%);
                    color: $white;
                }
            }
        }
    }
}

/**
 * Button, disabled.
 * 1. We need to increase specifity.
 */

%btn {
    &:disabled,
    &.is-disabled {
        // background-color: map-get($button-background, disable);
        // border-color: map-get($button-border-color, disable);
        box-shadow: none;
        // color: map-get($button-color, disable);
        cursor: not-allowed;
        opacity: 0.5;
        text-shadow: none;

        &::after {
            content: none;
        }

        @supports (filter: grayscale(100%)) {
            filter: grayscale(80%);
        }

        // &.--primary {
        //     background-color: map-get($button--primary-background, disable);
        //     border-color: map-get($button--primary-border-color, disable);
        //     color: map-get($button--primary-color, disable);
        // }
        // &.--secondary {
        //     background-color: map-get($button--secondary-background, disable);
        //     border-color: map-get($button--secondary-border-color, disable);
        //     color: map-get($button--secondary-color, disable);
        // }
        // &.--tertiary {
        //     background-color: map-get($button--tertiary-background, disable);
        //     border-color: map-get($button--tertiary-border-color, disable);
        //     color: map-get($button--tertiary-color, disable);
        // }

        // @each $modifier, $theme in $button-theme {
        //     $color: map-get($theme, 50);

        //     &.--#{$modifier} {
        //         background-color: $color;
        //         border-color: darken($color, 3%);
        //         color: $white;
        //     }
        // }
    }
}

/**
 * Button, focused.
 */

%btn {
    &:focus,
    &.is-focused {
        &:not(:disabled):not(.is-disabled) {
            background-color: map-get($button-background, focus);
            border-color: map-get($button-border-color, focus);
            color: map-get($button-color, focus);
            text-decoration: none;

            &.--primary {
                background-color: map-get($button--primary-background, focus);
                border-color: map-get($button--primary-border-color, focus);
                color: map-get($button--primary-color, focus);
            }
            &.--secondary {
                background-color: map-get($button--secondary-background, focus);
                border-color: map-get($button--secondary-border-color, focus);
                color: map-get($button--secondary-color, focus);
            }
            &.--tertiary {
                background-color: map-get($button--tertiary-background, focus);
                border-color: map-get($button--tertiary-border-color, focus);
                color: map-get($button--tertiary-color, focus);
            }

            @each $modifier, $theme in $button-theme {
                $color: lighten(map-get($theme, 20), 8%);

                &.--#{$modifier} {
                    background-color: $color;
                    border-color: darken($color, 3%);
                    color: $white;
                }
            }
        }
    }
}

/**
 * Button, hovered.
 */

%btn {
    &:hover,
    &.is-hovered {
        @extend %btn:focus;
    }
}

/**
 * Context.
 */

// .has-component {}

// =============================================================================
// Subcomponents
// =============================================================================

// Button event
// =============================================================================

%btn__event {
    position: relative;

    &::after {
        @include round;
        @include size(2em);

        background-color: rgba($white, 0.75);
        content: "";
        display: inline-block;
        left: 50%;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%) scale(6);
        transition:
            opacity 0.6s,
            transform 1.2s map-get($animation-easing, out-cubic);
    }
}

/**
 * States.
 */

/**
 * Button event, active.
 */

%btn__event:active {
    &::after {
        opacity: 1;
        transform: translate(-50%, -50%) scale(0);
        transition-duration: 0s;
    }
}
