/**
 * Component Button/Group.
 * @author David Sklar <david.sklar@datasapiens.co.uk>
 */

// =============================================================================
// Button group
// =============================================================================

.btn-group {
    .btn {
        margin-bottom: $button-group-gutter;
    }
}

/**
 * Modifiers.
 */

/**
 * Modifiers.
 */

/**
 * Button group, centered buttons.
 */

.btn-group {
    &.--center {
        text-align: center;

        .btn {
            margin: {
                left: 0.5 * $button-group-gutter;
                right: 0.5 * $button-group-gutter;
            }
        }
    }
}

/**
 * Button group, compact.
 */

.btn-group {
    &.--compact {
        .btn {
            margin-bottom: 0;
        }
    }
}

/**
 * Button group, buttons aligned left.
 */

.btn-group {
    &.--left {
        text-align: left;

        .btn {
            margin-right: $button-group-gutter;
        }
    }
}

/**
 * Button group, buttons aligned right.
 */

.btn-group {
    &.--right {
        text-align: right;

        .btn {
            margin-left: $button-group-gutter;
        }
    }
}

/**
 * States.
 */

// .is-component-state {}

// .component {
//     &.is-state {}
// }

/**
 * Context.
 */

// .has-component {}

// =============================================================================
// Subcomponents
// =============================================================================

// SubcomponentName
// =============================================================================

// .component__subcomponent {}
