/**
 * Component Drawer.
 * @author David Sklar <david.sklar@datasapiens.co.uk>
 *
 * @requires {mixin}       acceleration
 * @requires {variable}    $animation-easing
 */

// =============================================================================
// Drawer
// =============================================================================

// =============================================================================
// Drawer
// =============================================================================

.drw {
    @extend %drw:off;

    transition: max-height 0.3s map-get($animation-easing, in-out-circ);
}

/**
 * Modifiers.
 */

/**
 * Drawer, debug mode.
 * There's no `max-height` limit and motion animations are disabled.
 */

.drw {
    &.--debug {
        @extend %drw:on;

        max-height: none;

        .drw__body {
            @extend %drp__body:on;
        }
    }
}

/**
 * States.
 */

/**
 * 1. Use `animation` instead of `transition` for more complex or diverse animations.
 */

/**
 * Drawer, on.
 */

%drw:on {
    max-height: $drawer-size;
    // overflow: visible;
}

.drw {
    &.is-on {
        @extend %drw:on;

        .drw__body {
            @extend %drw__body:on;
            // animation: ... ;  /* 1 */
        }
    }
}

/**
 * Drawer, off.
 */

%drw:off {
    max-height: 0;
    overflow: hidden;
}

// .drw {
//     &.is-off {
//         @extend %drw:off;
//
//         .drw__body {
//             @extend %drw__body:off;
//
//             animation: ... ;  /* 1 */
//         }
//     }
// }

/**
 * Context.
 */

// .has-component

// =============================================================================
// Subcomponents
// =============================================================================

// Drawer body
// =============================================================================

.drw__body {
    @extend %drw__body:off;
    @include acceleration;

    transition:
        opacity 0.2s,
        transform 0.2s map-get($animation-easing, in-out-circ) 0.1s,
        visibility 0.3s;
}

/**
 * States.
 */

/**
 * Dropdown body, on.
 */

%drw__body:on {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    visibility: visible;
}

/**
 * Dropdown body, off.
 */

%drw__body:off {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-100%);
    visibility: hidden;
}
