/**
 * Component Font/Primary.
 */

@each $variant in $font-primary-variant {
    @include font-face(
        $family: $font-primary-family,
        $file: map-get($variant, filename),
        $format: ("woff2", "woff"),
        $weight: map-get($variant, weight)
    );
}

// =============================================================================
// Primary font
// =============================================================================

%font-primary,
.font-primary {
    font-family: $font-primary-family;
}

/**
 * Modifiers.
 */

// .component--modifier {}

// .component {
//     &.--modifier {}
// }

/**
 * States.
 */

// .is-component-state {}

// .component {
//     &.is-state {}
// }

/**
 * Context.
 */

// .has-component

// =============================================================================
// Subcomponents
// =============================================================================

// SubcomponentName
// =============================================================================

// .component__subcomponent
