/**
 * Component Form/Element.
 *
 * @requires {placeholder} %emt
 * @requires {placeholder} %emt--medium
 * @requires element
 */

// =============================================================================
// Form element
// =============================================================================

%form-element {
    @extend %emt !optional;
    @extend %emt--medium !optional;

    align-items: center;
    background-color: map-get($form-element-background, initial);
    border: $form-element-border-size solid map-get($form-element-border-color, initial);
    border-radius: $form-element-border-radius;
    color: map-get($form-element-color, initial);
    display: inline-flex;
    padding: 0 $form-element-indent;
    transition:
        background-color 0.2s,
        border-color 0.2s,
        color 0.2s,
        width 0.2s;
    width: 100%;
}

.form-element {
    @extend %form-element;
}

/**
 * Modifiers.
 */

/**
 * Form element, transparent.
 */

%form-element {
    &.--transparent {
        background: transparent;
        border: 0;
        // border-color: transparent;

        @if $form-element-border-radius {
            border-radius: 0;
        }
    }
}

/**
 * States.
 */

/**
 * Form element, active.
 */

%form-element {
    &.is-active {
        @extend %form-element:focus;
    }
}

/**
 * Form element, disabled.
 */

%form-element {
    &:disabled,
    &.is-disabled {
        border-color: map-get($form-element-border-color, disable);
        color: map-get($form-element-color, disable);
        cursor: not-allowed;
    }
}

/**
 * Form element, focused.
 */

%form-element {
    &.is-focused,
    &:focus {
        &:not(:disabled):not(.is-disabled):not([readonly]):not(.is-readonly) {
            border-color: map-get($form-element-border-color, focus);
            color: map-get($form-element-color, focus);
        }
    }
}

/**
 * Form element, hovered.
 */

%form-element {
    &:hover,
    &.is-hovered {
        &:not(:disabled):not(.is-disabled):not([readonly]):not(.is-readonly) {
            border-color: map-get($form-element-border-color, hover);
        }
    }
}

/**
 * Form element, invalid.
 */

%form-element {
    // &:invalid,
    &.is-invalid {
        background-color: map-get($form-element-background, invalid);
        border-color: map-get($form-element-border-color, invalid);
        color: map-get($form-element-color, invalid);
    }
}

/**
 * Form element, read-only.
 */

%form-element {
    &[readonly],
    &.is-readonly {
        @extend %form-element:disabled;
    }
}

/**
 * Context.
 */

// .has-component {}

// =============================================================================
// Subcomponents
// =============================================================================

// SubcomponentName
// =============================================================================

// .component__subcomponent {}
