/**
 * Component Form/Checkbox.
 *
 * @requires {function}    px-to-em
 * @requires {mixin}       size
 * @requires {mixin}       stretch
 * @requires {placeholder} %form-element
 * @requires {placeholder} %ico
 * @requires {variable}    $animation-easing
 * @requires animation.scale
 * @requires form.element
 * @requires ico
 */

// =============================================================================
// Form checkbox
// =============================================================================

.form-checkbox {
    align-items: baseline;
    display: inline-flex;

    @include ie-gte-10 {
        align-items: center;
        vertical-align: middle;
    }
}

/**
 * Modifiers.
 */

// .component--modifier {}

// .component {
//     &.--modifier {}
// }

/**
 * States.
 */

/**
 * Form checkbox, disabled.
 */

.form-checkbox {
    :disabled ~ &__shape {
        @extend %form-checkbox__shape:disabled;
    }
}

/**
 * Form checkbox, focused.
 */

.form-checkbox {
    :focus:not(:disabled):not([readonly]) ~ &__shape,
    .is-focused :not(:disabled):not([readonly]) ~ &__shape {
        @extend %form-checkbox__shape:hover;
    }
}

/**
 * Form checkbox, hovered.
 */

.form-checkbox {
    :hover :not(:disabled):not([readonly]) ~ &__shape {
        border-color: currentColor;
        @extend %form-checkbox__shape:hover;
    }
}

/**
 * Form checkbox, checked.
 */

.form-checkbox {
    :checked ~ &__shape {
        @extend %form-checkbox__shape:checked;
    }
}

/**
 * Form checkbox, read-only.
 */

.form-checkbox {
    [readonly] ~ &__shape {
        @extend %form-checkbox__shape:disabled;
    }
}

/**
 * Context.
 */

// .has-component {}

// =============================================================================
// Subcomponents
// =============================================================================

// Form checkbox control
// =============================================================================

.form-checkbox__control {
    @include size(px-to-em($form-checkbox-size));

    display: inherit;
    flex-shrink: 0;

    &:not(:only-child) {
        $indent: px-to-em($form-checkbox-indent);

        &:first-child {
            margin: {
                right: $indent;
            }
        }
        &:last-child {
            margin: {
                left: $indent;
            }
        }
    }
}

// Form checkbox shape
// =============================================================================

.form-checkbox__shape {
    @extend %form-element !optional;
    @include size(100%);

    background: map-get($form-checkbox-background, initial);
    border-color: currentColor;
    color: map-get($form-checkbox-color, initial);
    display: inherit;
    font-size: 1em;
    justify-content: center;
    padding: 0;

    &::before {
        @extend %form-checkbox__shape;
    }
}

%form-checkbox__shape {
    @extend %ico !optional;
    @extend %ico--#{$form-checkbox-icon} !optional;

    pointer-events: none;
    opacity: 0;
    transform: scale(1.5, 1.5);
    transition:
        opacity 0.2s 0.1s,
        transform map-get($animation-easing, in-out-circ) 0.3s;
}

/**
 * States.
 */

/**
 * Form checkbox shape, disabled.
 */

%form-checkbox__shape {
    &:disabled {
        border-color: currentColor !important;
        color: map-get($form-checkbox-color, disable) !important;
        cursor: not-allowed;
        pointer-events: none;
    }
}

/**
 * Form checkbox shape, focused.
 */

%form-checkbox__shape {}

/**
 * Form checkbox shape, hovered.
 */

%form-checkbox__shape {
    &:hover {
        border-color: currentColor;
        color: map-get($form-checkbox-color, hover);
    }
}

/**
 * Form checkbox shape, checked.
 */

%form-checkbox__shape {
    &:checked {
        color: map-get($form-checkbox-color, active);

        &::before {
            opacity: 1;
            transform: scale(1.0, 1.0);
        }
    }
}

// Form checkbox label
// =============================================================================

// .form-checkbox__label {}
