/**
 * Component Form/Radio.
 *
 * @requires {function}    px-to-em
 * @requires {mixin}       size
 * @requires {placeholder} %form-element
 * @requires {variable}    $animation-easing
 * @requires animation.fade
 * @requires animation.scale
 * @requires form.element
 */

// =============================================================================
// Form radio
// =============================================================================

.form-radio {
    align-items: baseline;
    display: inline-flex;

    @include ie-gte-10 {
        align-items: center;
        vertical-align: middle;
    }
}

/**
 * Modifiers.
 */

// .component--modifier {}

// .component {
//     &.--modifier {}
// }

/**
 * States.
 */

/**
 * Form radio, disabled.
 */

.form-radio {
    :disabled ~ &__shape {
        @extend %form-radio__shape:disabled;
    }
}

/**
 * Form radio, focused.
 */

.form-radio {
    :focus:not(:checked):not(:disabled):not([readonly]) ~ &__shape,
    &.is-focused :not(:checked):not(:disabled):not([readonly]) ~ &__shape {
        @extend %form-radio__shape:hover;
    }
}

/**
 * Form radio, hovered.
 */

.form-radio {
    &:hover :not(:checked):not(:disabled):not([readonly]) ~ &__shape {
        @extend %form-radio__shape:hover;
    }
}

/**
 * Form radio, checked.
 * 1. We need to increase specifity.
 */

.form-radio {
    :checked ~ &__shape {
        @extend %form-radio__shape:checked;
    }
}

/**
 * Form radio, read-only.
 */

.form-radio {
    [readonly] ~ &__shape {
        @extend %form-radio__shape:disabled;
    }
}

/**
 * Context.
 */

// .has-component {}

// =============================================================================
// Subcomponents
// =============================================================================

// Form radio control
// =============================================================================

.form-radio__control {
    @include size(px-to-em($form-radio-size));

    display: inherit;
    flex-shrink: 0;

    &:not(:only-child) {
        $indent: px-to-em($form-radio-indent);

        &:first-child {
            margin: {
                right: $indent;
            }
        }
        &:last-child {
            margin: {
                left: $indent;
            }
        }
    }
}

// Form radio shape
// =============================================================================

/**
 * 1. We need to increase specifity.
 */

.form-radio__shape {
    @extend %form-element !optional;

    background: map-get($form-radio-background, initial);
    border-color: currentColor;
    color: map-get($form-radio-color, initial);
    display: inherit;
    font-size: 1em;
    justify-content: center;
    padding: 0;
    position: relative;

    &,
    &::before {
        @include round;
        @include size(100%);
    }

    &:after,
    &::before {
        @extend %form-radio__shape;
    }

    &[class]::after {           /* 1 */
        @include round;
        @include size(125%);

        content: "";
        display: none;
        position: absolute;
    }
}

%form-radio__shape {
    background-color: currentColor;
    content: "o";
    display: inline-block;
    line-height: 1;
    opacity: 0;
    pointer-events: none;
    transform: scale(1.25, 1.25);
    transition:
        opacity 0.2s,
        transform map-get($animation-easing, in-out-circ) 0.3s;
}

/**
 * States.
 */

/**
 * Form radio shape, disabled.
 */

%form-radio__shape {
    &:disabled {
        border-color: currentColor !important;
        color: map-get($form-radio-color, disable) !important;
        cursor: not-allowed;
        pointer-events: none;
    }
}

/**
 * Form radio shape, focused.
 */

%form-radio__shape {}

/**
 * Form radio shape, hovered.
 */

%form-radio__shape {
    &:hover {
        &::before {
            opacity: 0.35;
            transform: scale(0.7, 0.7);
        }
    }
}

/**
 * Form radio shape, checked.
 * 1. We need to increase specifity.
 */

%form-radio__shape {
    &:checked {
        border-color: currentColor !important;

        &[class]::after {       /* 1 */
            animation:
                fade--out 0.3s both,
                scale--50-200 0.6s both;
            display: inline-block;
        }

        &::before {
            opacity: 1;
            transform: scale(0.7, 0.7);
        }
    }
}

// Form radio label
// =============================================================================

.form-radio__label {}
