/**
 * Component Form/Select.
 *
 * @requires {mixin}       ie-gte-10
 * @requires {placeholder} %ctr--core-y
 * @requires {placeholder} %form-element
 * @requires {placeholder} %ico
 * @requires {placeholder} %ico--caret-down
 * @requires container
 * @requires form.element
 * @requires ico
 */

// =============================================================================
// Form select
// =============================================================================

/**
 * This component only tryies to normalize webkit browsers now.
 * 1. We need to increase specifity.
 */

.form-select {
    @extend %form-element !optional;

    align-items: center;
    display: inline-flex;
    overflow: hidden;
    padding: 0;
    position: relative;

    &::after {      /* 1 */
        @extend %form-select__control;
        @include ie-gte-10 {
            display: none;
        }
    }

    select {
        @extend %form-select__content;
    }
}

/**
 * Modifiers.
 */

// .component--modifier {}

// .component {
//     &.--modifier {}
// }

/**
 * States.
 */

// .is-component-state {}

// .component {
//     &.is-state {}
// }

/**
 * Context.
 */

// .has-component {}

// =============================================================================
// Subcomponents
// =============================================================================

// Form select content
// =============================================================================

%form-select__content {
    appearance: none;
    border: 0;
    height: auto;
    padding-right: calc(
        #{$form-select-control-size} +
        2 * #{$form-select-control-indent}
    );

    @include ie-gte-10 {
        padding-right: $form-select-indent;
    }
}

// Form select control
// =============================================================================

%form-select__control {
    @extend %ctr--core-y !optional;
    @extend %ico !optional;
    @extend %ico--caret-down !optional;

    font-size: $form-select-control-size;
    pointer-events: none;
    right: 0;
    text-align: center;
    width: calc(
        #{$form-select-control-size} +
        2 * #{$form-select-control-indent}
    );
}
