/**
 * Component Icon.
 *
 * @requires {mixin}    font-face
 * @requires {variable} $icon-glyphs
 */

// =============================================================================
// Icon
// =============================================================================

@include font-face(
    $family: $icon-font-family,
    $file: $icon-font-filename,
    $format: ("woff2", "woff")
);

%ico {
    display: inline-block;
    font: {
        family: $icon-font-family;
        style: normal;
        variant: normal;
        weight: normal;
    }
    line-height: 1;
    speak: none;
    text: {
        decoration: none;
        transform: none;
    }
    white-space: normal;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

[class~="ico"] {
    @extend %ico--horizontal;
    @extend %ico--medium;

    display: inline-flex;
    text-decoration: none;

    &::before {
        @extend %ico;
    }
}

/**
 * Modifiers.
 */

/**
 * Icon, horizontal.
 */

%ico--horizontal {
    align-items: baseline;
}

/**
 * Icon, vertical.
 */

%ico--vertical {
    align-items: center;

    [class*="__label"] {
        line-height: $icon-label-line-height-ratio;
        text-align: center;
    }
}

/**
 * Icon, above.
 */

.ico {
    &.--above {
        @extend %ico--vertical;

        flex-direction: column;

        &::before {
            margin-bottom: $icon-indent;
        }
    }
}

/**
 * Icon, after.
 */

.ico {
    &.--after {
        flex-direction: row-reverse;

        &::before {
            margin-left: $icon-indent;
        }
    }
}

/**
 * Icon, before.
 */

.ico {
    &.--before {
        &::before {
            margin-right: $icon-indent;
        }
    }
}

/**
 * Icon, below.
 */

.ico {
    &.--below {
        @extend %ico--vertical;

        flex-direction: column-reverse;

        &::before {
            margin-top: $icon-indent;
        }
    }
}

/**
 * Icon, size.
 */

.ico {
    @each $modifier, $size in $icon-size {
        %ico--#{$modifier},
        &.--#{$modifier} {
            &::before {
                font-size: $size;
            }
        }
    }
}

/**
 * Icon, glyphs.
 */

@each $glyph in $icon-glyphs {
    $extender: ico + "--" + nth($glyph, 2);
    $modifier: "--" + nth($glyph, 2);

    %#{$extender} {
        content: "#{nth($glyph, 1)}";
    }

    .ico {
        &.#{$modifier} {
            &::before {
                @extend %#{$extender};
            }
        }
    }
}

/**
 * States.
 */

// .is-component-state {}

// .component {
//     &.is-state {}
// }

/**
 * Context.
 */

// .has-component

// =============================================================================
// Subcomponents
// =============================================================================

// Icon label
// =============================================================================

.ico__label {}
