/**
 * Component Indicator/Progress.
 */

// <span class="ind-progress"><span class="ind-progress__scale" style="width: 66%; "></span></span>
// <progress class="ind-progress" value="70" max="100">70 %</progress>

// =============================================================================
// Progress indicator
// =============================================================================

%ind-progress {
    background-color: map-fetch($indicator-progress-theme, default, background);
}

.ind-progress {
    @extend %ind-progress;
    @extend .ind-progress.--under;
    @include acceleration;

    // appearance: none;
    border-radius: $indicator-progress-border-radius;
    border: $indicator-progress-border-size solid transparent;
    display: block;
    height: map-get($indicator-progress-size, medium);
    position: relative;
    width: 100%;

    // &::before {
    //     @extend %ind-progress__figure;

    //     content: attr(value);
    // }

    // &::-webkit-progress-bar {
    //     @extend %ind-progress;
    // }
    // &::-webkit-progress-value {
    //     @extend %ind-progress__scale;
    // }
}

/**
 * Modifiers.
 */

/**
 * Progress indicator, size.
 */

.ind-progress {
    @each $modifier, $size in $indicator-progress-size {
        &.--#{$modifier} {
            height: $size;
        }
    }
}

/**
 * Progress indicator, figure placed above bar.
 */

// .ind-progress {
//     &.--above {
//         // &::before,
//         .ind-progress__figure {
//             @extend %ind-progress__figure--above;
//         }
//     }
// }

/**
 * Progress indicator, figure placed before bar.
 */

// .ind-progress {
//     &.--before {
//         // &::before,
//         .ind-progress__figure {
//             @extend %ind-progress__figure--before;
//         }
//     }
// }

/**
 * Progress indicator, static.
 */

.ind-progress {
    &.--static {
        margin: {
            bottom: $indicator-progress-indent;
            top: $indicator-progress-indent;
        }
    }
}

/**
 * Progress indicator, figure placed under bar.
 */

.ind-progress {
    &.--under {
        // &::before,
        .ind-progress__figure {
            @extend %ind-progress__figure--under;
        }
    }
}

/**
 * States.
 */

// .is-component-state {}

// .component {
//     &.is-state {}
// }

/**
 * Context.
 */

// .has-component {}

// =============================================================================
// Subcomponents
// =============================================================================

// Progress indicator scale
// =============================================================================

%ind-progress__scale {
    background-color: map-fetch($indicator-progress-theme, default, color);
    border-radius: $indicator-progress-border-radius;
    display: block;
    height: 100%;
    transition: width 0.3s map-get($animation-easing, out-sine) 0.1s;
}

.ind-progress__scale {
    @extend %ind-progress__scale;

    &[style*="duration"] {
        animation: width--0-100 1s map-get($animation-easing, out-sine) 0.5s both;
        transition: none;
    }
}

// Progress indicator status
// =============================================================================

.ind-progress__status {
    color: desaturate(
        map-fetch($indicator-progress-theme, default, color),
        75%
    );
    font: {
        size: px-to-rem(map-fetch($indicator-progress-theme, default, font, size, status));
        weight: map-fetch($indicator-progress-theme, default, font, weight, status);
    }
    margin-top: 0.5 * $indicator-progress-indent;
    position: absolute;
}

// Progress indicator figure
// =============================================================================

%ind-progress__figure {
    color: desaturate(
        map-fetch($indicator-progress-theme, default, color),
        75%
    );
    display: inline-block;
    font: {
        size: px-to-rem(map-fetch($indicator-progress-theme, default, font, size, figure));
        weight: map-fetch($indicator-progress-theme, default, font, weight, figure);
    }
    position: absolute;
}

.ind-progress__figure {
    @extend %ind-progress__figure;
}

/**
 * Modifiers.
 */

/**
 * Progress indicator figure, placed above bar.
 */

%ind-progress__figure--above {
    top: 0;
    transform: translate(
        0,
        calc((-1) * (100% + #{$indicator-progress-indent}))
    );
}

/**
 * Progress indicator figure, placed before bar.
 */

%ind-progress__figure--before {
    top: 50%;
    transform: translate(
        calc((-1) * (100% + #{$indicator-progress-indent})),
        -50%
    );
}

/**
 * Progress indicator figure, placed under bar.
 */

%ind-progress__figure--under {
    right: 0;
    margin-top: 0.5 * $indicator-progress-indent;
}
