/**
 * Component Link.
 * @author David Sklar <david.sklar@datasapiens.co.uk>
 */

// =============================================================================
// Link
// =============================================================================

.lnk {
    @include link-underline($underline: true);

    color: map-get($link-color, initial);
    cursor: pointer;
}

/**
 * Modifiers.
 */

/**
 * Link, reverse.
 */

.lnk {
    &.--plain[class] {
        text-decoration: none;
    }
}

/**
 * Link, reverse.
 */

.lnk {
    &.--reverse {
        @include link-underline($underline: false);
    }
}

/**
 * States.
 */

/**
 * Link, active.
 */

.lnk {
    &:active {
        color: map-get($link-color, active);
    }
}

/**
 * Link, focus.
 */

.lnk {
    &:focus {
        color: map-get($link-color, focus);
    }
}

/**
 * Link, hover.
 */

.lnk {
    &:hover {
        color: map-get($link-color, hover);
    }
}

/**
 * Link, visited.
 */

.lnk {
    &:visited {
        color: map-get($link-color, visit);
    }
}

/**
 * Context.
 */

// .has-component {}

// =============================================================================
// Subcomponents
// =============================================================================

// SubcomponentName
// =============================================================================

// .component__subcomponent {}
