/**
 * Component Link.
 *
 * @requires {mixin}       link-underline
 * @requires {placeholder} %ico
 * @requires {placeholder} %ico--fa-lt-external-link-square
 * @requires {placeholder} %ico--fa-lt-info-circle
 * @requires ico
 */

// =============================================================================
// Link
// =============================================================================

/**
 * 1. We need to increase specifity.
 */

.lnk {
    @include link-underline($underline: true);

    cursor: pointer;

    &[class] {  /* 1 */
        color: map-get($link-color, initial);
    }
}

/**
 * Modifiers.
 */

/**
 * Link, icon.
 */

%lnk--icon {
    &::after {
        @extend %ico !optional;

        font-size: 0.85em;
        padding-left: 0.25em;
        position: relative;
        top: -0.35em;
    }
}

/**
 * Link, external.
 */

.lnk {
    &.--external {
        @extend %lnk--icon;

        &::after {
            @extend %ico--fa-lt-external-link-square !optional;
        }

        @media print {
            display: none;
        }
    }
}

/**
 * Link, info.
 */

.lnk {
    &.--info {
        @extend %lnk--icon;

        &::after {
            @extend %ico--fa-lt-info-circle !optional;
        }

        @media print {
            display: none;
        }
    }
}

/**
 * Link, plain (without any text decoration).
 * 1. We need to increase specifity.
 */

.lnk {
    &.--plain[class] {  /* 1 */
        text-decoration: none;
    }
}

/**
 * Link, reverse.
 */

.lnk {
    &.--reverse {
        @include link-underline($underline: false);
    }
}

/**
 * States.
 */

/**
 * Link, active.
 */

.lnk {
    &:active {
        color: map-get($link-color, active);
    }
}

/**
 * Link, focus.
 */

.lnk {
    &:focus {
        color: map-get($link-color, focus);
    }
}

/**
 * Link, hover.
 */

.lnk {
    &:hover {
        color: map-get($link-color, hover);
    }
}

/**
 * Link, visited.
 */

.lnk {
    &:visited {
        color: map-get($link-color, visit);
    }
}

/**
 * Context.
 */

// .has-component {}

// =============================================================================
// Subcomponents
// =============================================================================

// SubcomponentName
// =============================================================================

// .component__subcomponent {}
