/**
 * Component List/Index.
 *
 * @requires {function}    px-to-rem
 * @requires {variable}    $animation-easing
 * @requires animation.fade
 * @requires animation.slide
 */

// =============================================================================
// Index list
// =============================================================================

.lst-index {
    /* autoprefixer: off */
    display: grid;
    grid-gap: $list-index-gutter;

    @each $break in $list-index-breaks {
        @media (min-width: $break) {
            grid-template-columns: repeat(
                #{index($list-index-breaks, $break) + 1},
                1fr
            );
        }
    }
}

/**
 * Modifiers.
 */

// .component--modifier {}

// .component {
//     &.--modifier {}
// }

/**
 * States.
 */

// .is-component-state {}

// .component {
//     &.is-state {}
// }

/**
 * Context.
 */

// .has-component {}

// =============================================================================
// Subcomponents
// =============================================================================

// Index list item
// =============================================================================

.lst-index__item {
    @include acceleration;

    animation: fade--in 0.3s both;
    display: flex;
}

// Index list item index
// =============================================================================

.lst-index__item__index {
    color: $list-index-title-index-color;
    color: var(--list-index__item__index-color, $list-index-title-index-color);

    display: inline-block;
    font: {
        size: px-to-rem($list-index-title-index-font-size);
        weight: $list-index-title-index-font-weight;
    }
    margin: 0;
    padding-right: 0.5 * $list-index-gutter;
}

// Index list item content
// =============================================================================

.lst-index__item__content {
    animation:
        fade--in 0.3s 0.5s both,
        slide--down-reverse 0.4s 0.3s map-get($animation-easing, in-out-circ) both;
}
