/**
 * Component List/Index.
 */

// =============================================================================
// Index list
// =============================================================================

.lst-index {
    column-gap: $list-index-gutter;

    @each $break in $list-index-breaks {
        @media (min-width: $break) {
            column-count: index($list-index-breaks, $break) + 1;
        }
    }
}

/**
 * Modifiers.
 */

// .component--modifier {}

// .component {
//     &.--modifier {}
// }

/**
 * States.
 */

// .is-component-state {}

// .component {
//     &.is-state {}
// }

/**
 * Context.
 */

// .has-component {}

// =============================================================================
// Subcomponents
// =============================================================================

// Index list item
// =============================================================================

.lst-index__item {
    break-inside: avoid;

    &:first-of-type {
        .lst-index__item__title {
            margin-top: 0;
        }
    }
}

/**
 * States.
 */

/**
 * Index list item, hovered.
 */

.lst-index__item {
    &:hover {
        .lst-index__item__title {
            color: $list-index-title-color;
            opacity: 1;
        }
    }
}

// Index list item title
// =============================================================================

.lst-index__item__title {
    font-weight: 400;
    margin-bottom: 5px;
    opacity: 0.5;
    transition: color 0.2s, opacity 0.4s;
}
