/**
 * Component Media/Table.
 */

// <div class="mda-table">
//     <span class="mda-table__figure"></span>
//     <div class="mda-table__content"></div>
// </div>

// =============================================================================
// Media
// =============================================================================

.mda-table {
    @extend .mda-table.--before;

    @media (min-width: nth($media-breaks, 1)) {
        display: table;
        width: 100%;

        .mda-table__content,
        .mda-table__figure {
            display: table-cell;
        }
    }
}

/**
 * Modifiers.
 */

/**
 * Media, fix.
 */

.mda-table {
    &.--fix {
        table-layout: fixed;
    }
}

/**
 * Media, figure after.
 */

.mda-table {
    &.--after {
        @media (min-width: nth($media-breaks, 1)) {
            .mda-table__figure {
                padding: {
                    left: map-get($media-figure-indent, horizontal);
                    right: 0;
                }
                text-align: right;
            }
        }
    }
}

/**
 * Media, figure before.
 */

.mda-table {
    &.--before {
        @media (min-width: nth($media-breaks, 1)) {
            .mda-table__figure {
                padding: {
                    left: 0;
                    right: map-get($media-figure-indent, horizontal);
                }
            }
        }
    }
}

/**
 * States.
 */

// .is-component-state

/**
 * Context.
 */

// .has-component

// =============================================================================
// Subcomponents
// =============================================================================

// Media content
// =============================================================================

.mda-table__content {
    display: block;
}

// Media figure
// =============================================================================

.mda-table__figure {
    display: block;
    padding-bottom: map-get($media-figure-indent, vertical);
    vertical-align: top;
}
