/**
 * Component Navigation/Tab.
 *
 * @requires {function}    px-to-em
 * @requires {function}    rhythm-get
 * @requires {mixin}       acceleration
 * @requires {mixin}       size
 * @requires {mixin}       word-wrap
 * @requires {placeholder} %lst--reset
 * @requires {variable}    $animation-easing
 * @requires animation.slide
 * @requires list
 */

// =============================================================================
// Tab navigation
// =============================================================================

.nav-tab {
    @extend %nav-tab:start;
    @extend %nav-tab:top;

    margin: rhythm-get() 0;

    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

/**
 * Modifiers.
 */

/**
 * Navigation tab, bottom.
 */

%nav-tab:bottom {
    .nav-tab__body {
        border: {
            radius: $navigation-tab-radius;
            bottom-left-radius: 0;
            bottom-right-radius: 0;
        }
    }
    .nav-tab__foot {
        .nav-tab__item__region {
            border: {
                top: 0;
                top-left-radius: 0;
                top-right-radius: 0;
            }
        }
        .nav-tab__control__item {
            bottom: 0;
        }
    }
}

.nav-tab {
    &.--bottom {
        @extend %nav-tab:bottom;
    }
}

/**
 * Navigation tab, centered items.
 */

.nav-tab {
    &.--center {
        @extend %nav-tab:center;
    }
}

%nav-tab:center {
    %nav-tab__control__pane {
        justify-content: center;
    }
    .nav-tab__item {
        margin: {
            left: 1/4 * map-get($navigation-tab-item-indent, horizontal);
            right: 1/4 * map-get($navigation-tab-item-indent, horizontal);
        }
    }
}

/**
 * Navigation tab, items aligned to end.
 * FIX: Tab items scrolling
 */

%nav-tab:end {
    %nav-tab__control__pane {
        justify-content: flex-end;
    }
    .nav-tab__item {
        margin: {
            left: 1/2 * map-get($navigation-tab-item-indent, horizontal);
            right: 0;
        }
    }
}

.nav-tab {
    &.--end {
        @extend %nav-tab:end;
    }
}

/**
 * Navigation tab, double.
 */

%nav-tab:double {
    .nav-tab__body {
        border-radius: 0;
    }
}

.nav-tab {
    &.--double {
        @extend %nav-tab:bottom;
        @extend %nav-tab:top;
        @extend %nav-tab:double;
    }
}

/**
 * Navigation tab, items aligned to start.
 */

%nav-tab:start {
    %nav-tab__control__pane {
        justify-content: flex-start;
    }
    .nav-tab__item {
        margin: {
            left: 0;
            right: 1/2 * map-get($navigation-tab-item-indent, horizontal);
        }
    }
}

.nav-tab {
    &.--start {
        @extend %nav-tab:start;
    }
}

/**
 * Navigation tab, top.
 */

%nav-tab:top {
    .nav-tab__head {
        .nav-tab__item__region {
            border: {
                bottom: 0;
                bottom-left-radius: 0;
                bottom-right-radius: 0;
            }
        }
        .nav-tab__control__item {
            top: 0;
        }
    }
    .nav-tab__body {
        border: {
            radius: $navigation-tab-radius;
            top-left-radius: 0;
            top-right-radius: 0;
        }
    }
}

.nav-tab {
    &.--top {
        @extend %nav-tab:top;
    }
}

/**
 * Navigation tab, plain.
 */

.nav-tab {
    &.--plain {
        .nav-tab__item__region {
            border: 0;
        }
    }
}

/**
 * Navigation tab, primary.
 */

.nav-tab {
    &.--primary {
        .nav-tab__item__region {
            background-color: map-get($navigation-tab--primary-item-background, initial);
            background-color: var(--navigation-tab__item__region--primary-background-color, map-get($navigation-tab--primary-item-background, initial));

            border-color: map-get($navigation-tab--primary-item-border-color, initial);
            border-color: var(--navigation-tab__item__region--primary-border-color, map-get($navigation-tab--primary-item-border-color, initial));

            color: map-get($navigation-tab--primary-item-color, initial);
            color: var(--navigation-tab__item__region--primary-color, map-get($navigation-tab--primary-item-color, initial));
        }
    }
}

/**
 * Navigation tab, secondary.
 */

.nav-tab {
    &.--secondary {
        .nav-tab__item__region {
            background-color: map-get($navigation-tab--secondary-item-background, initial);
            background-color: var(--navigation-tab__item__region--secondary-background-color, map-get($navigation-tab--secondary-item-background, initial));

            border-color: map-get($navigation-tab--secondary-item-border-color, initial);
            border-color: var(--navigation-tab__item__region--secondary-border-color, map-get($navigation-tab--secondary-item-border-color, initial));

            color: map-get($navigation-tab--secondary-item-color, initial);
            color: var(--navigation-tab__item__region--secondary-color, map-get($navigation-tab--secondary-item-color, initial));
        }
    }
}

/**
 * States.
 */

/**
 * Navigation tab, scrollable.
 */

.nav-tab {
    &.is-scrollable {
        $indent: $navigation-tab-control-item-size +
            1/2 * map-get($navigation-tab-item-indent, horizontal);

        %nav-tab__control__inset {
            margin: {
                left: $indent;
                right: $indent;
            }
        }

        .nav-tab__control__item {
            pointer-events: auto;

            &:nth-of-type(1) {
                animation:
                    fade--in 0.3s 0.6s both,
                    slide--left-reverse 0.2s map-get($animation-easing, out-sine) 0.6s both;
            }
            &:nth-of-type(2) {
                animation:
                    fade--in 0.3s 0.6s both,
                    slide--right-reverse 0.2s map-get($animation-easing, out-sine) 0.6s both;
            }
        }
    }
}

/**
 * Context.
 */

// .has-component {}

// =============================================================================
// Subcomponents
// =============================================================================

// Navigation tab control (aka HQ)
// =============================================================================

%nav-tab__control {
    display: block;
    position: relative;
}

// Navigation tab control inset
// =============================================================================

%nav-tab__control__inset {
    @include acceleration;

    height: $navigation-tab-item-height;
    overflow: hidden;
    transition: margin 0.3s;
}

// Navigation tab control pane
// =============================================================================

%nav-tab__control__pane {
    @extend %lst--reset !optional;

    display: flex;
    margin: 0;
    overflow: auto;
}

// Navigation tab control item
// =============================================================================

/**
 * 1. We need to increase specifity.
 */

.nav-tab__control__item {
    @include acceleration;

    opacity: 0;
    pointer-events: none;
    position: absolute;

    [class~="ico"] {
        display: inline-block;
        margin: 0;
    }
}

/**
 * Modifiers.
 */

/**
 * Navigation tab `previous` control item.
 */

.nav-tab__control__item {
    &.--prev {
        left: 0;
    }
}

/**
 * Navigation tab `next` control item.
 */

.nav-tab__control__item {
    &.--next {
        right: 0;
    }
}

// Navigation tab header
// =============================================================================

.nav-tab__head {
    @extend %nav-tab__control;

    margin-bottom: (-1) * $navigation-tab-item-border-size;

}

// Navigation tab header inset
// =============================================================================

.nav-tab__head__inset {
    @extend %nav-tab__control__inset;
}

// Navigation tab header scrollable pane
// =============================================================================

.nav-tab__head__pane {
    @extend %nav-tab__control__pane;
}

// Navigation tab item
// =============================================================================

.nav-tab__item {
    @include word-wrap(false);

    // box-shadow: $navigation-tab-item-box-shadow;
    margin: 0;
}

/**
 * States.
 */

/**
 * Navigation tab item, active.
 */

.nav-tab__item {
    &.is-active:not(.is-disabled) {
        // box-shadow: none;

        &.nav-tab__item__region,
        .nav-tab__item__region {
            @extend %nav-tab__item__region:active;
        }
    }

    @at-root {
        .nav-tab {
            &.--primary {
                .nav-tab__item {
                    &.is-active:not(.is-disabled) {
                        &.nav-tab__item__region,
                        .nav-tab__item__region {
                            @extend %nav-tab__item__region:active[primary];
                        }
                    }
                }
            }
            &.--secondary {
                .nav-tab__item {
                    &.is-active:not(.is-disabled) {
                        &.nav-tab__item__region,
                        .nav-tab__item__region {
                            @extend %nav-tab__item__region:active[secondary];
                        }
                    }
                }
            }
        }
    }
}

/**
 * Navigation tab item, disabled.
 */

.nav-tab__item {
    &.is-disabled {
        &.nav-tab__item__region,
        .nav-tab__item__region {
            @extend %nav-tab__item__region:disabled;
        }
    }
}

/**
 * Navigation tab item, hovered.
 */

.nav-tab__item {
    &.is-hovered,
    &:hover {
        &:not(.is-disabled) {
            // box-shadow: none;

            &.nav-tab__item__region,
            .nav-tab__item__region {
                @extend %nav-tab__item__region:hover;
            }
        }

        @at-root {
            .nav-tab {
                &.--primary {
                    .nav-tab__item {
                        &.is-hovered,
                        &:hover {
                            &:not(.is-disabled)[class] {
                                &.nav-tab__item__region,
                                .nav-tab__item__region {
                                    @extend %nav-tab__item__region:hover[primary];
                                }
                            }
                        }
                    }
                }

                &.--secondary {
                    .nav-tab__item {
                        &.is-hovered,
                        &:hover {
                            &:not(.is-disabled) {
                                &.nav-tab__item__region,
                                .nav-tab__item__region {
                                    @extend %nav-tab__item__region:hover[secondary];
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Navigation tab item region
// =============================================================================

.nav-tab__item__region {
    background-color: map-get($navigation-tab-item-background, initial);
    background-color: var(--navigation-tab__item__region-background-color, map-get($navigation-tab-item-background, initial));

    border: $navigation-tab-item-border-size solid map-get($navigation-tab-item-border-color, initial);
    border: $navigation-tab-item-border-size solid var(--navigation-tab__item__region-border-color, map-get($navigation-tab-item-border-color, initial));

    border: {
        radius: $navigation-tab-item-border-radius;
    }
    color: map-get($navigation-tab-item-color, initial);
    color: var(--navigation-tab__item__region-color, map-get($navigation-tab-item-color, initial));
    cursor: pointer;
    display: inline-block;

    @if $navigation-tab-item-font-size != $base-font-size {
        font-size: px-to-em($navigation-tab-item-font-size);
    }
    @if $navigation-tab-item-line-height-ratio != $base-line-height-ratio {
        line-height: $navigation-tab-item-line-height-ratio;
    }

    padding:
        map-get($navigation-tab-item-indent, vertical)
        map-get($navigation-tab-item-indent, horizontal);
    position: relative;
    text-decoration: none;
    transition:
        background-color 0.2s,
        border-color 0.2s,
        color 0.2s,
        opacity 0.2s;
}

/**
 * States.
 */

/**
 * Navigation tab item region, active.
 */

%nav-tab__item__region {
    &:active {
        background-color: map-get($navigation-tab-item-background, active);
        background-color: var(--navigation-tab__item__region--is-active-background-color, map-get($navigation-tab-item-background, active));

        border-color: map-get($navigation-tab-item-border-color, active);
        border-color: var(--navigation-tab__item__region--is-active-border-color, map-get($navigation-tab-item-border-color, active));

        color: map-get($navigation-tab-item-color, active);
        color: var(--navigation-tab__item__region--is-active-color, map-get($navigation-tab-item-color, active));

        z-index: $navigation-tab-index + 1;

        &[primary] {
            background-color: map-get($navigation-tab--primary-item-background, active);
            border-color: map-get($navigation-tab--primary-item-border-color, active);
            color: map-get($navigation-tab--primary-item-color, active);
        }

        &[secondary] {
            background-color: map-get($navigation-tab--secondary-item-background, active);
            border-color: map-get($navigation-tab--secondary-item-border-color, active);
            color: map-get($navigation-tab--secondary-item-color, active);
        }
    }
}

/**
 * Navigation tab item region, disabled.
 */

%nav-tab__item__region {
    &:disabled {
        background-color: map-get($navigation-tab-item-background, disable);
        background-color: var(--navigation-tab__item__region--is-disabled-background-color, map-get($navigation-tab-item-background, disable));

        border-color: map-get($navigation-tab-item-border-color, disable);
        border-color: var(--navigation-tab__item__region--is-disabled-border-color, map-get($navigation-tab-item-border-color, disable));

        color: map-get($navigation-tab-item-color, disable);
        color: var(--navigation-tab__item__region--is-disabled-color, map-get($navigation-tab-item-color, disable));

        cursor: not-allowed;
        opacity: 0.5;
    }
}

/**
 * Navigation tab item region, focused.
 */

%nav-tab__item__region {
    &:focus {
        @extend %nav-tab__item__region:hover;
    }
}

/**
 * Navigation tab item region, hovered.
 */

%nav-tab__item__region {
    &:hover {
        background-color: map-get($navigation-tab-item-background, hover);
        background-color: var(--navigation-tab__item__region--is-hovered-background-color, map-get($navigation-tab-item-background, hover));

        // border-color: map-get($navigation-tab-item-border-color, hover);
        
        color: map-get($navigation-tab-item-color, hover);
        color: var(--navigation-tab__item__region--is-hovered-color, map-get($navigation-tab-item-color, hover));

        // z-index: $navigation-tab-index + 1;

        &[primary] {
            background-color: map-get($navigation-tab--primary-item-background, hover);
            // border-color: map-get($navigation-tab--primary-item-border-color, hover);
            color: map-get($navigation-tab--primary-item-color, hover);
        }
        &[secondary] {
            background-color: map-get($navigation-tab--secondary-item-background, hover);
            // border-color: map-get($navigation-tab--secondary-item-border-color, hover);
            color: map-get($navigation-tab--secondary-item-color, hover);
        }
    }
}


// Navigation tab body (aka pane)
// =============================================================================

/**
 * 1. We need to increase specifity.
 */

.nav-tab__body {
    border-radius: $navigation-tab-radius;
    position: relative;
    z-index: $navigation-tab-index;

    &[class][class] {       /* 1 */
        margin: 0;
    }
}

// Navigation tab footer
// =============================================================================

.nav-tab__foot {
    @extend %nav-tab__control;

    margin-top: (-1) * $navigation-tab-item-border-size;
}

// Navigation tab footer inset
// =============================================================================

.nav-tab__foot__inset {
    @extend %nav-tab__control__inset;
}

// Navigation tab footer scrollable pane
// =============================================================================

.nav-tab__foot__pane {
    @extend %nav-tab__control__pane;
}
