/**
 * Component Trail navigation.
 */

// =============================================================================
// Trail navigation
// =============================================================================

.nav-trail {
    ul {
        @extend %lst--reset;

        margin: 0;
    }
}

/**
 * Modifiers.
 */

// .component--modifier {}

// .component {
//     &.--modifier {}
// }

/**
 * States.
 */

// .is-component-state {}

// .component {
//     &.is-state {}
// }

/**
 * Context.
 */

// .has-component {}

// =============================================================================
// Subcomponents
// =============================================================================

// Navigation item
// =============================================================================

.nav-trail__item {
    display: inline;
    margin-right: $nav-trail-item-indent;

    &:not(:last-child)::after {
        @extend %nav-trail__spacer;
    }
}

// Navigation spacer
// =============================================================================

%nav-trail__spacer {
    color: $nav-trail-spacer;
    content: "/";
    display: inline-block;
    margin-left: $nav-trail-item-indent;
    text-align: center;
    width: 1em;
}
