/**
 * Component Panel.
 *
 * @requires {function}    rhythm-get
 * @requires {mixin}       round
 * @requires {placeholder} %ctr
 * @requires container
 */

// =============================================================================
// Panel
// =============================================================================

.pnl {
    @extend %ctr !optional;
    @include round($panel-border-radius);

    background: {
        color: $panel-background;
        image: $panel-background-gradient;
    }
    border: $panel-border-size solid $panel-border-color;
    box-shadow: $panel-box-shadow;
    padding:
        map-get($panel-indent, vertical)
        map-get($panel-indent, horizontal);

    & {
        margin-bottom: rhythm-get();
    }

    & & {
        box-shadow: none;
    }
}

/**
 * Modifiers.
 */

// .component--modifier {}

// .component {
//     &.--modifier {}
// }

/**
 * Panel, plain.
 */

.pnl {
    &.--plain {
        border: 0;
    }
}

/**
 * Panel, elevate.
 */

.pnl {
    &.--elevate {
        box-shadow: $panel--elevate-box-shadow;
    }
}

/**
 * States.
 */

// .is-component-state {}

// .component {
//     &.is-state {}
// }

/**
 * Context.
 */

// .has-component {}

// =============================================================================
// Subcomponents
// =============================================================================

// SubcomponentName
// =============================================================================

// .component__subcomponent {}
