/**
 * Component Panel.
 * @author David Sklar <david.sklar@datasapiens.co.uk>
 */

// =============================================================================
// Panel
// =============================================================================

.pnl {
    @extend %ctr;
    @include round($panel-border-radius);

    background-color: $panel-background;
    border: $panel-border-size solid $panel-border-color;
    padding: $panel-indent;

    &,
    &:last-child {
        margin-bottom: rhythm-get();
    }
}

/**
 * Modifiers.
 */

// .component--modifier {}

// .component {
//     &.--modifier {}
// }

/**
 * Panel, blank.
 */

.pnl {
    &.--blank {
        border: 0;
    }
}

/**
 * Panel, light.
 */

.pnl {
    &.--light {
        box-shadow: $panel--light-box-shadow;
    }
}

/**
 * States.
 */

// .is-component-state {}

// .component {
//     &.is-state {}
// }

/**
 * Context.
 */

// .has-component {}

// =============================================================================
// Subcomponents
// =============================================================================

// SubcomponentName
// =============================================================================

// .component__subcomponent {}
