/**
 * Component Spacer.
 *
 * @requires {function} rhythm-get
 */

// =============================================================================
// Spacer
// =============================================================================

/**
 * TODO: Consider renaming to `divider`
 */

%spa {
    border-bottom: {
        style: solid;
        width: $spacer-size;
    }
    clear: both;
    display: block;
    margin: {
        bottom: rhythm-get();
        top: rhythm-get();
    }
}

.spa {
    @extend %spa;

    border-bottom-color: $spacer-color;
}

/**
 * Modifiers.
 */

/**
 * Spacer, secondary.
 */

.spa {
    &.--secondary {
        border-bottom-style: dotted;
    }
}

/**
 * States.
 */

// .is-component-state {}

// .component {
//     &.is-state {}
// }

/**
 * Context.
 */

// .has-component {}

// =============================================================================
// Subcomponents
// =============================================================================

// SubcomponentName
// =============================================================================

// .component__subcomponent {}
