/**
 * Component Table.
 *
 * @requires {function} px-to-em
 */

// =============================================================================
// Table
// =============================================================================

.tbl {
    border-radius: $table-border-radius;
    font-size: px-to-rem($table-font-size);
    line-height: $table-line-height-ratio;

    caption {
        padding: {
            left: 2 * $table-cell-indent;
            right: 2 * $table-cell-indent;
        }
    }

    td,
    th {
        padding: {
            bottom: 0.75 * $table-cell-indent;
            left: $table-cell-indent;
            right: $table-cell-indent;
            top: 0.75 * $table-cell-indent;
        }
        transition: background-color 0.2s;
        vertical-align: baseline;
    }

    tr {
        &:first-child {
            td,
            th {
                &:first-child {
                    border-top: {
                        left-radius: $table-border-radius;
                    }
                }
                &:last-child {
                    border-top: {
                        right-radius: $table-border-radius;
                    }
                }
            }
        }
    }

    thead {
        border-top: {
            left-radius: $table-border-radius;
            right-radius: $table-border-radius;
        }
        th {
            font-size: 0.9em;
        }
    }

    tbody {
        tr:last-child {
            td,
            th {
                &:first-child {
                    border-bottom: {
                        left-radius: $table-border-radius;
                    }
                }
                &:last-child {
                    border-bottom: {
                        right-radius: $table-border-radius;
                    }
                }
            }
        }
    }

    thead + tbody {
        tr:first-child {
            td,
            th {
                &:first-child,
                &:last-child {
                    border-radius: 0;
                }
            }
        }
    }

    // Apply selected properties.
    &:not(.--rack) {
        background-color: map-get($table-background, body);
        box-shadow: $table-box-shadow;

        @if map-get($table-background, head) != map-get($table-background, body) {
            thead {
                background-color: map-get($table-background, head);
            }
        }
        thead {
            color: map-get($table-color, head);
        }

        thead + tbody {
            tr:first-child {
                td,
                th {
                    @extend %tbl__group;
                }
            }
        }

        tbody {
            color: map-get($table-color, body);
        }

        tbody + tfoot {
            tr:first-child {
                td,
                th {
                    @extend %tbl__group;
                }
            }
        }

        tfoot {
            color: map-get($table-color, foot);
        }
    }
}

/**
 * Modifiers.
 */

/**
 * Table, layout auto.
 */

.tbl {
    &.--auto {
        table-layout: auto;
    }
}

/**
 * Table, vertical lines (aka bars).
 */

%tbl--bar {
    td,
    th {
        &:not(:last-of-type) {
            border-right: $table-cell-border-size solid $table-cell-border-color;
        }
    }
}

.tbl {
    &.--bar {
        @extend %tbl--bar;
    }
}

/**
 * Table, cell content horizontaly centered.
 */

.tbl {
    &.--center {
        td,
        th {
            text-align: center;
        }
    }
}

/**
 * Table, compact.
 */

%tbl--compact {
    caption {
        padding: {
            left: 1.5 * $table-cell-indent;
            right: 1.5 * $table-cell-indent;
        }
    }

    td,
    th {
        padding: 0.5 * $table-cell-indent;
    }
}

.tbl {
    &.--compact {
        @extend %tbl--compact;
    }
}

/**
 * Table, edge (aka border).
 */

%tbl--edge {
    border:
        $table--edge-border-size
        solid
        $table--edge-border-color;
}

.tbl {
    &.--edge {
        @extend %tbl--edge;
    }
}

/**
 * Table, layout fixed.
 */

.tbl {
    &.--fix {
        table-layout: fixed;
    }
}

/**
 * Table, grid (aka bars and lines combo).
 */

%tbl--grid {
    @extend %tbl--bar;
    @extend %tbl--line;
}

.tbl {
    &.--grid {
        @extend %tbl--grid;
    }
}

/**
 * Table, horizontal lines.
 */

%tbl--line {
    tbody {
        tr:not(:first-of-type) {
            td,
            th {
                border-top: $table-cell-border-size solid $table-cell-border-color;
            }
        }
    }
}

.tbl {
    &.--line {
        @extend %tbl--line;
    }
}

/**
 * Table, cell content verticaly centered.
 */

.tbl {
    &.--middle {
        td,
        th {
            vertical-align: middle;
        }
    }
}

/**
 * Table, rack (aka container).
 */

%tbl--rack {
    caption,
    td,
    th {
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }
}

.tbl {
    &.--rack {
        @extend %tbl--rack;
    }
}

/**
 * Table, cell content aligned to right.
 */

.tbl {
    &.--right {
        td,
        th {
            text-align: right;
        }
    }
}

/**
 * Table, sticky row groups.
 *
 * 1. Cut off vertical scrollbar.
 */

.tbl {
    &.--sticky {
        $spacer: 40px;

        clip-path: polygon(
            0% 0%,
            100% 0%,
            100% 100%,
            0% 100%
        );                                  /* 1 */

        tbody,
        tfoot,
        thead {
            clip-path: polygon(
                0% 0%,
                calc(100% - $spacer) 0%,
                calc(100% - $spacer) 100%,
                0% 100%
            );                              /* 1 */
            display: block;
            margin-right: (-1) * $spacer;   /* 1 */
            overflow-y: scroll;

            -ms-overflow-style: none;
            // width: 100%;
        }

        &[class] {
            tfoot,
            tbody {
                tr:first-of-type {
                    td,
                    th {
                        border-top: 0;
                    }
                }
            }
        }

        tbody,
        tfoot {
            border: 0 solid $table-group-border-color;
        }

        tbody {
            box-shadow: map-get($table-group-box-shadow, inner);
            overflow-y: auto;
        }

        thead + tbody,
        tbody + tfoot {
            border: {
                top-width: $table-group-border-size;
            }
        }

        tr {
            display: flex;

            td,
            th {
                &:last-of-type {
                    padding-right: $spacer; /* 1 */
                }
            }
        }

        td,
        th {
            flex: 1;
            overflow: hidden;

            &[style*="width"] {
                flex: 0 1 auto;
            }
        }

        /**
         * Firefox (macOS)
         */

        @supports (-moz-osx-font-smoothing: auto) {
            tbody,
            tfoot,
            thead {
                margin-right: 0;
                overflow-y: auto;
            }

            tr {
                td,
                th {
                    &:last-of-type {
                        padding-right: $table-cell-indent;
                    }
                }
            }
        }

        /**
         * Webkit
         */

        @supports (-webkit-appearance: none) {
            tbody,
            tfoot,
            thead {
                margin-right: 0;
                overflow-y: auto;
            }

            tfoot,
            thead {
                tr {
                    td,
                    th {
                        &:last-of-type {
                            padding-right: $table-cell-indent + $table-scrollbar-size;
                        }
                    }
                }
            }

            tr {
                td,
                th {
                    &:last-of-type {
                        padding-right: $table-cell-indent;
                    }
                }
            }

            ::-webkit-scrollbar {
                &:vertical {
                    width: $table-scrollbar-size;
                }

                &-track {
                    border-radius: 0;
                }
            }
        }

        /**
         * IE
         */

        @include ie-gte-10 {
            @for $c from map-get($table-columns, min) through map-get($table-columns, max) {
                &[cols="#{$c}"] {
                    td, th {
                        width: percentage(1 / $c);
                    }
                }
            }
        }

        @include ie-edge {
            @for $c from map-get($table-columns, min) through map-get($table-columns, max) {
                &[cols="#{$c}"] {
                    td, th {
                        width: percentage(1 / $c);
                    }
                }
            }
        }

        /**
         * IE 10+
         */

        @include ie-gte-10 {
            tbody,
            tfoot,
            thead {
                margin-right: 0;
            }

            tr {
                td,
                th {
                    &:last-of-type {
                        padding-right: $table-cell-indent;
                    }
                }
            }

            td,
            th {
                display: inline-block;
                flex: 1 1 auto;
            }
        }

        /**
         * IE Edge
         */

        @include ie-edge {
            td,
            th {
                display: inline-block;
                flex: 1 1 auto;
            }
        }
    }
}

/**
 * Table, stripes.
 */

.tbl {
    &.--stripe {
        &.--even {
            tbody {
                tr:nth-child(even) {
                    background-color: rgba($table--stripe-row-background, 0.225);
                }
            }
        }
        &.--odd {
            tbody {
                tr:nth-child(odd) {
                    background-color: rgba($table--stripe-row-background, 0.225);
                }
            }
        }
    }
}

/**
 * Table, primary.
 */

.tbl {
    &.--primary {
        @extend %tbl--edge;
        @extend %tbl--grid;

        background-color: map-get($table--primary-background, body);

        @if $table--primary-border-size {
            border-width: $table--primary-border-size;
        }
        @if $table--primary-indent {
            padding: $table--primary-indent;
        }
        @if map-get($table--primary-background, head) != map-get($table--primary-background, body) {
            thead {
                background-color: map-get($table--primary-background, head);
            }
        }
    }
}

/**
 * Table, secondary.
 */

.tbl {
    &.--secondary {
        @extend %tbl--bar;
        @extend %tbl--edge;

        background-color: map-get($table--secondary-background, body);

        @if $table--secondary-border-size {
            border-width: $table--secondary-border-size;
        }
        @if $table--secondary-indent {
            padding: $table--secondary-indent;
        }
        @if map-get($table--secondary-background, head) != map-get($table--secondary-background, body) {
            thead {
                background-color: map-get($table--secondary-background, head);
            }
        }
    }
}

/**
 * States.
 */

/**
 * Table, active.
 */

.tbl {
    &.is-active[class] {
        tbody {
            tr:hover {
                @extend %tbl__group--active;

                // td,
                // th {
                //     @extend %tbl__group--active;
                // }
            }
        }
    }
}

/**
 * Context.
 */

// .has-component {}

// =============================================================================
// Subcomponents
// =============================================================================

// Table group
// =============================================================================

%tbl__group {
    border-top: $table-group-border-size solid $table-group-border-color;
}

/**
 * Modifiers.
 */

/**
 * Table group, active.
 */

%tbl__group--active {
    background-color: rgba($table-group--active-background, 1);
    color: $table-group--active-color;
}

/**
 * Table group, bold.
 */

%tbl__group--bold {
    background-color: rgba($table-group--bold-background, 0.5);
    color: $table-group--bold-color;
}

// Table column
// =============================================================================

.tbl__column {}

/**
 * Modifiers.
 */

/**
 * Table column, bold.
 */

.tbl__column {
    &.--bold {
        @extend %tbl__group--bold;
    }
}

/**
 * States.
 */

/**
 * Table column, active.
 */

.tbl__column {
    &.is-active {
        @extend %tbl__group--active;
    }
}

// Table row
// =============================================================================

.tbl__row {}

/**
 * Modifiers.
 */

/**
 * Table row, bold.
 */

.tbl__row {
    &.--bold {
        @extend %tbl__group--bold;
    }
}

/**
 * States.
 */

/**
 * Table row, active.
 */

.tbl__row {
    &.is-active {
        td,
        th {
            @extend %tbl__group--active;
        }
    }
}

// Table cell
// =============================================================================

.tbl__cell {}

/**
 * Modifiers.
 */

/**
 * Table cell, bold.
 */

.tbl__cell {
    &.--bold {
        @extend %tbl__group--bold;
    }
}

/**
 * States.
 */

/**
 * Table cell, active.
 */

.tbl__cell {
    &.is-active {
        @extend %tbl__group--active;
    }
}
