/**
 * Component Tag.
 * @author David Sklar <david.sklar@datasapiens.co.uk>
 */

// =============================================================================
// Tag
// =============================================================================

.tag {
    @extend .tag.--medium !optional;
    @include text-truncate;

    border: {
        radius: $tag-border-radius;
        style: solid;
        width: $tag-border-size;
    }
    display: inline-flex;
    line-height: $tag-line-height-ratio;
    max-width: $tag-size;
    position: relative;
    text-decoration: none;
}

/**
 * Modifiers.
 */

/**
 * Tag, gutter.
 */

.tag {
    &.--gutter {
        margin: {
            left: $tag-gutter;
            top: $tag-gutter;
        }
    }
}

/**
 * Tag, primary.
 */

.tag {
    &.--primary {
        @include round($tag--primary-border-radius);
    }
}

/**
 * Tag, size.
 */

.tag {
    @each $modifier in (small, medium, large) {
        &.--#{$modifier} {
            $indent: nth(map-get($tag-indent, $modifier), 1);

            font-size: px-to-rem(map-get($tag-font-size, $modifier));
            padding: map-get($tag-indent, $modifier);

            // Tag control.
            &.has-control {
                padding-right: $indent +
                    5px +
                    $tag-control-size;
            }
            .tag__control {
                right: $indent;
            }
        }
    }
}

/**
 * Tag, color themes.
 */

.tag {
    @each $modifier, $theme in $tag-theme {
        &.--#{$modifier} {
            background-color: map-get($theme, secondary);
            border-color: darken(map-get($theme, secondary), 5%);
            color: darken(map-get($theme, secondary), 50%);

            // Tag control.
            .tag__control {
                border: 1px solid darken(map-get($theme, secondary), 50%);
            }
        }
    }
}

/**
 * States.
 */

// .is-component-state

/**
 * Context.
 */

// .has-component

// =============================================================================
// Subcomponents
// =============================================================================

// Tag control
// =============================================================================

.tag__control {
    @extend %ctr--core-y !optional;
    // @extend .ico--after !optional;
    // @extend .ico--close-outline !optional;
    @include round;
    @include size($tag-control-size);

    cursor: pointer;
    display: inline-block;
    position: absolute;
}
