/**
 * Component Wrapper.
 *
 * @requires {function}    rhythm-get
 * @requires {placeholder} %group
 */

// =============================================================================
// Wrapper
// =============================================================================

%wrp {
    @extend %group !optional;

    @media print {
        overflow: hidden;
    }
}

/**
 * Modifiers.
 */

/**
 * Wrapper, scroll pane.
 */

%wrp--scroll {
    @extend %wrp;

    > :last-child {
        margin-bottom: 0;
    }

    @media print {
        overflow: visible;
    }
}

/**
 * Wrapper, scroll pane.
 */

.wrp {
    &.--scroll {
        @extend %wrp--scroll;

        overflow: auto;
    }
}

/**
 * Wrapper, X-scroll pane.
 */

.wrp {
    &.--scroll-x {
        @extend %wrp--scroll;

        overflow-x: auto;
    }
}

/**
 * Wrapper, Y-scroll pane.
 *
 * TODO: Resolve artifacts hotfix.
 *
 * 1. Flag is required to override later defined `is-off` state.
 * 2. Artifacts hotfix.
 */

.wrp {
    &.--scroll-y {
        @extend %wrp--scroll;
        // @include rectangle-clip($pitch: 2%); /* 2 */

        overflow-y: auto;
        // transition: max-height 0.3s map-get($animation-easing, in-out-circ); /* 2 */

        @media print {
            clip-path: none;
            max-height: none !important; /* 1 */
        }
    }
}

/**
 * Wrapper, scroll pane with padding.
 */

.wrp {
    &.--indent {
        &.--scroll {
            padding: {
                bottom: map-get($wrapper-indent, vertical);
                right: map-get($wrapper-indent, horizontal);
            }
        }

        &.--scroll-x {
            padding: {
                bottom: map-get($wrapper-indent, vertical);
            }
        }

        &.--scroll-y {
            padding: {
                right: map-get($wrapper-indent, horizontal);
            }
        }

        @media print {
            padding: {
                bottom: 0;
                right: 0;
            }
        }
    }
}

/**
 * States.
 */

/**
 * Wrapper, on.
 */

.wrp {
    &.is-on {
        &.--scroll-y {
            max-height: map-get($wrapper-size, vertical);
        }
    }
}

/**
 * Wrapper, off.
 *
 * 1. Flag is required to override inline styles.
 */

.wrp {
    &.is-off {
        // overflow: visible;

        &.--scroll-y {
            max-height: 200vh !important; /* 1 */
        }
    }
}

/**
 * Context.
 */

// .has-component {}

// =============================================================================
// Subcomponents
// =============================================================================

// SubcomponentName
// =============================================================================

// .component__subcomponent {}
