/**
 * Component Button settings.
 */

// =============================================================================
// Button settings
// =============================================================================

// Set button background.
$button-background: (
    active:     unset,           // pressed
    disable:    $blue--heather,  // disabled
    focus:      unset,           // focused
    hover:      unset,           // hovered
    initial:    $blue--catskill,
);

// Set button border color.
$button-border-color: (
    active:     $blue--heather, // pressed
    disable:    $blue--nepal,   // disabled
    focus:      $blue--heather, // focused
    hover:      $blue--heather, // hovered
    initial:    $blue--heather,
);

// Set button border radius.
$button-border-radius: 2px;

// Set button border size.
$button-border-size: 1px;

// Set button color.
$button-color: (
    active:     $blue--wood,   // pressed
    disable:    $blue--regent, // disabled
    focus:      $blue--wood,   // focused
    hover:      $blue--wood,   // hovered
    initial:    $blue--fiord,
);

// Set button font size.
$button-font-size: (
    large:  17px,
    medium: 14px,
    small:  11px,
    xsmall: 11px,
);

// Set button font weight.
$button-font-weight: (
    large:  300,
    medium: 300,
    small:  400,
    xsmall: 400,
);

// Set button indent.
$button-indent: (
    mean:  1em,
    narrow: 0.5em,
    wide:  2em,
);

// Set button letter spacing.
$button-letter-spacing: 0.25px;

// Set button shadow color.
$button-shadow-color: (
    active:     initial, // pressed
    disable:    $black,  // disabled
    focus:      initial, // focused
    hover:      initial, // hovered
    initial:    $black,
);

// Set button height.
$button-size: (
    large:  46px,
    medium: 34px,
    small:  26px,
    xsmall: 22px,
);

// Set button text shadow.
$button-text-shadow: 0 1px 1px rgba($black, 0.075) !default;

/**
 * Primary button.
 */

// Set primary button background.
// $button--primary-background: (
//     active:     `color`,    // pressed
//     disable:    `color`,    // disabled
//     focus:      `color`,    // focused
//     hover:      `color`,    // hovered
//     initial:    `color`,
// );

// Set primary button properties.
$button--primary: (
    background: (
        active:     $blue--deepcerulean, // pressed
        focus:      $blue--malibu,       // focused
        hover:      $blue--malibu,       // hovered
        initial:    $blue--cerulean,
    ),
    border: (
        active:     $blue--deepcerulean, // pressed
        disable:    initial,             // disabled
        focus:      $blue--malibu,       // focused
        hover:      $blue--malibu,       // hovered
        initial:    $blue--cerulean,
    ),
    color: (
        active:     $white,              // pressed
        disable:    initial,             // disabled
        focus:      $white,              // focused
        hover:      initial,             // hovered
        initial:    $white,
    ),
    letter-spacing: 0.5px,
    shadow: (
        active:     $blue--cerulean,     // pressed
        disable:    initial,             // disabled
        focus:      $blue--cerulean,     // focused
        hover:      $blue--cerulean,     // hovered
        initial:    $blue--cerulean,
    ),
);

/**
 * Secondary button.
 */

// Set secondary button background.
// $button--secondary-background: (
//     active:     `color`,    // pressed
//     disable:    `color`,    // disabled
//     focus:      `color`,    // focused
//     hover:      `color`,    // hovered
//     initial:    `color`,
// );

// Set secondary button properties.
$button--secondary: (
    background: (
        active:     lighten($blue--cerulean, 30%), // pressed
        disable:    initial,                       // disabled
        focus:      lighten($blue--cerulean, 50%), // focused
        hover:      lighten($blue--cerulean, 50%), // hovered
        initial:    lighten($blue--cerulean, 40%),
    ),
    border: (
        active:     lighten($blue--cerulean, 25%), // pressed
        disable:    initial,                       // disabled
        focus:      lighten($blue--cerulean, 45%), // focused
        hover:      lighten($blue--cerulean, 45%), // hovered
        initial:    lighten($blue--cerulean, 35%),
    ),
    color: (
        active:     darken($blue--cerulean, 5%),   // pressed
        disable:    initial,                       // disabled
        focus:      darken($blue--cerulean, 5%),   // focused
        hover:      darken($blue--cerulean, 5%),   // hovered
        initial:    darken($blue--cerulean, 5%),
    ),
    letter-spacing: 0.5px,
    shadow: (
        active:     $blue--wood,                   // pressed
        disable:    initial,                       // disabled
        focus:      $blue--wood,                   // focused
        hover:      $blue--wood,                   // hovered
        initial:    $blue--wood,
    ),
);

// Set tertiary button properties.
$button--tertiary: (
    background: (
        active:     rgba($white, 0.15),     // pressed
        disable:    initial,                // disabled
        focus:      rgba($white, 0.25),     // focused
        hover:      initial,                // hovered
        initial:    initial,
    ),
    border: (
        active:     initial,                // pressed
        disable:    initial,                // disabled
        focus:      initial,                // focused
        hover:      initial,                // hovered
        initial:    initial,
    ),
    color: (
        active:     $white,                 // pressed
        disable:    initial,                // disabled
        focus:      $white,                 // focused
        hover:      initial,                // hovered
        initial:    $white,
    ),
    letter-spacing: 0.5px,
    shadow: (
        active:     initial,                // pressed
        disable:    initial,                // disabled
        focus:      initial,                // focused
        hover:      initial,                // hovered
        initial:    initial,
    ),
);
