/**
 * Component Button settings.
 */

// =============================================================================
// Button settings
// =============================================================================

// Set button background.
$button-background: (
    active:     lighten($blue--catskill, 3%),   // pressed
    disable:    $blue--heather,                 // disabled
    focus:      lighten($blue--catskill, 5%),   // focused
    hover:      lighten($blue--catskill, 5%),   // hovered
    initial:    $blue--catskill,
) !default;

// Set button border color.
$button-border-color: (
    active:     $blue--heather, // pressed
    disable:    $blue--nepal,   // disabled
    focus:      $blue--heather, // focused
    hover:      $blue--heather, // hovered
    initial:    $blue--heather,
) !default;

// Set button border radius.
$button-border-radius: 2px !default;

// Set button border size.
$button-border-size: 1px !default;

// Set button box shadow.
$button-box-shadow: 0 1px 3px -2px rgba($black, 0.75) !default;

// Set button color.
$button-color: (
    active:     $blue--wood,   // pressed
    disable:    $blue--regent, // disabled
    focus:      $blue--wood,   // focused
    hover:      $blue--wood,   // hovered
    initial:    $blue--fiord,
) !default;

// Set button indent.
$button-indent: (
    mean:   1rem,
    narrow: 0.5rem,
    wide:   2rem,
) !default;

// Set button letter spacing.
$button-letter-spacing: 0.25px !default;

// Set button text shadow.
$button-text-shadow: 0 1px 1px rgba($black, 0.075) !default;

// Set button themes map.
$button-theme: map-get($color-set, accent) !default;

// $button-theme: map-remove(
//     map-get($color-set, accent),
//     neutral
// ) !default;

/**
 * Primary button.
 */

// Set primary button background.
$button--primary-background: (
    active:     lighten($blue--deepcerulean, 4%),   // pressed
    disable:    initial,                            // disabled
    focus:      lighten($blue--deepcerulean, 6%),   // focused
    hover:      lighten($blue--deepcerulean, 6%),   // hovered
    initial:    $blue--cerulean,
) !default;

// Set primary button border color.
$button--primary-border-color: (
    active:     lighten($blue--deepcerulean, 1%),   // pressed
    disable:    initial,                            // disabled
    focus:      lighten($blue--deepcerulean, 3%),   // focused
    hover:      lighten($blue--deepcerulean, 3%),   // hovered
    initial:    darken($blue--cerulean, 3%),
) !default;

// Set primary button color.
$button--primary-color: (
    active:     $white,             // pressed
    disable:    initial,            // disabled
    focus:      $white,             // focused
    hover:      $white,             // hovered
    initial:    $white,
) !default;

/**
 * Secondary button.
 */

// Set secondary button background.
$button--secondary-background: (
    active:     lighten($blue--cerulean, 4%),   // pressed
    disable:    initial,                        // disabled
    focus:      lighten($blue--cerulean, 6%),   // focused
    hover:      lighten($blue--cerulean, 6%),   // hovered
    initial:    $blue--malibu,
) !default;

// Set secondary button border color.
$button--secondary-border-color: (
    active:     lighten($blue--cerulean, 1%),   // pressed
    disable:    initial,                        // disabled
    focus:      lighten($blue--cerulean, 3%),   // focused
    hover:      lighten($blue--cerulean, 3%),   // hovered
    initial:    darken($blue--malibu, 3%),
) !default;

// Set secondary button color.
$button--secondary-color: (
    active:     $white,             // pressed
    disable:    initial,            // disabled
    focus:      $white,             // focused
    hover:      $white,             // hovered
    initial:    $white,
) !default;

/**
 * Tertiary button.
 */

// Set tertiary button background.
$button--tertiary-background: (
    active:     rgba($black, 0.15),     // pressed
    disable:    initial,                // disabled
    focus:      rgba($white, 0.15),     // focused
    hover:      rgba($white, 0.15),     // hovered
    initial:    transparent,
) !default;

// Set tertiary button border color.
$button--tertiary-border-color: (
    active:     $white,                 // pressed
    disable:    $white,                 // disabled
    focus:      $white,                 // focused
    hover:      $white,                 // hovered
    initial:    $white,
) !default;

// Set tertiary button color.
$button--tertiary-color: (
    active:     $white,                 // pressed
    disable:    $white,                 // disabled
    focus:      $white,                 // focused
    hover:      $white,                 // hovered
    initial:    $white,
) !default;
