/**
 * Component Control settings.
 */

// =============================================================================
// Control settings
// =============================================================================

// Set component property.
// $component-property:

// Set control color.
$control-color: (
    active:     $blue--fiord,   // pressed
    disable:    $blue--heather, // disabled
    focus:      $blue--fiord,   // focused
    hover:      $blue--fiord,   // hovered
    initial:    $blue--heather,
) !default;


.ctr {
    @include defineColor(--control-color, var(--neutral-60-color));
    @include defineColor(--control--is-active-color, var(--neutral-accent-0-color));
    @include defineColor(--control--is-disabled-color, var(--neutral-60-color));
    @include defineColor(--control--is-hovered-color, var(--neutral-accent-0-color));
    @include defineColor(--control--is-on-color, var(--neutral-accent-0-color));
    @include defineColor(--control--is-off-color, var(--neutral-60-color));
}