/**
 * Component Control settings.
 */

// =============================================================================
// Control settings
// =============================================================================

// Set component property.
// $component-property:

// Set control color.
$control-color: (
    active:     $blue--fiord,   // pressed
    disable:    $blue--heather, // disabled
    focus:      $blue--fiord,   // focused
    hover:      $blue--fiord,   // hovered
    initial:    $blue--heather,
) !default;


body.theme {
    --control-color: var(--neutral-60-color);
    --control--is-active-color: var(--neutral-accent-0-color);
    --control--is-disabled-color: var(--neutral-60-color);
    --control--is-hovered-color: var(--neutral-accent-0-color);
    --control--is-on-color: var(--neutral-accent-0-color);
    --control--is-off-color: var(--neutral-60-color);
}