/**
 * Component Font/Primary settings.
 * @author David Sklar <david.sklar@datasapiens.co.uk>
 */

// =============================================================================
// Primary font settings
// =============================================================================

// Set primary font family.
$font-primary-family: "Roboto";

// Set primary font variant list.
$font-primary-variant: (
    (
        filename: "roboto-light",
        weight: 300,
    ),
    (
        filename: "roboto-regular",
        weight: 400,
    ),
    (
        filename: "roboto-medium",
        weight: 600,
    ),
    // (
    //     filename: "roboto-bold",
    //     weight: 700,
    // ),
);
