/**
 * Component Form/Element settings.
 */

// =============================================================================
// Form element settings
// =============================================================================

// Set form element background.
$form-element-background: (
    disable:    transparent,                  // disabled
    focus:      rgba($white, 1),              // focused
    hover:      rgba($white, 1),              // hovered
    initial:    rgba($white, 0.85),
    invalid:    lighten($red--sunset, 35%),   // invalid
);

// Set form element border color.
$form-element-border-color: (
    disable:    $blue--catskill, // disabled
    focus:      $blue--dodger,   // focused
    hover:      $blue--dodger,   // hovered
    initial:    $blue--heather,
    invalid:    $red--sunset,    // invalid
);

// Set form element border radius.
$form-element-border-radius: 2px;

// Set form element border width.
$form-element-border-size: 1px;

// Set form element color.
$form-element-color: (
    disable:    lighten($base-color, 30%),  // disabled
    focus:      darken($base-color, 50%),   // focused
    hover:      darken($base-color, 50%),   // hovered
    initial:    $base-color,
    invalid:    $base-color,                // invalid
    require:    $red--sunset,               // required
);

// Set form element padding.
$form-element-indent: 10px;

// Set form element color.
$form-element-placeholder-color: (
    disable:    $blue--geyser,    // disabled
    initial:    $blue--nepal,
);

body.theme{
    --form-element-background-color: var(--white-color-opacity-85);
    --form-element-border-color: var(--neutral-60-color);
    --form-element-color: var(--base-color);
    --form-element--is-disabled-border-color: var(--neutral-80-color);
    --form-element--is-disabled-color: var(--base-color-lighten-30);
    --form-element--is-focused-border-color: var(--notice-accent-50-color);
    --form-element--is-focused-color: var(--base-color-darken-50);
    --form-element--is-hovered-border-color: var(--notice-accent-50-color);
    --form-element--is-invalid-background-color: var(--danger-accent-50-color-lighten-35);
    --form-element--is-invalid-border-color: var(--danger-accent-50-color);
    --form-element--is-invalid-color: var(--base-color);
}