/**
 * Component Form/Message settings.
 */

// =============================================================================
// Form message settings
// =============================================================================

// Set form message color.
$form-message-color: $red--monza;

// Set form message font size.
$form-message-font-size: 13px;

// Set form message indent.
$form-message-indent: (
    horizontal: $form-element-indent + $form-element-border-size,
    vertical:  $base-line-height, // according to `$form-row-indent`
);

// Set form message themes map.
// $form-message-theme: $color-set--accent;
$form-message-theme: ();

.form-message {
    @include defineColor(--form-message-color, var(--danger-accent-20-color));
}