/**
 * Component Form/Select settings.
 */

// =============================================================================
// Form select settings
// =============================================================================

// Set form select indent (according to `$form-element-indent`).
$form-select-indent: 10px;

// Set form select control indent.
$form-select-control-indent: 10px;

// Set form select control size.
$form-select-control-size: 1em;
