/**
 * Component Form/Label settings.
 */

// =============================================================================
// Form label settings
// =============================================================================

// Set form label color.
$form-label-color: (
    active:     $blue--deepcerulean,       // pressed
    focus:      $blue--deepcerulean,       // focused
    hover:      $blue--deepcerulean,       // hovered
    disable:    lighten($base-color, 30%), // disabled
    initial:    inherit,
    invalid:    $red--sunset,              // invalid
    required:   inherit,                   // required
) !default;

// Set form label indent.
$form-label-indent: (
    horizontal: 5px,
    vertical:  $base-line-height, // according to `$form-row-indent`
) !default;

// Set form label push (according to `$form-element-indent` and
// `$form-element-border-size`).
$form-label-push: 11px !default;

// Set form label font size.
$form-label-font-size: 13px !default;

// Set form label font weight.
$form-label-font-weight: 400 !default;

/**
 * Label, stacked.
 */

// Set stacked label line height ratio.
$form-label--stack-line-height-ratio: 1.3 !default;
