/**
 * Component Icon settings.
 */

// =============================================================================
// Icon settings
// =============================================================================

// Set icon font family.
$icon-font-family: "UI Kit Icons" !default;

// Set icon font filename.
$icon-font-filename: "kit-icons" !default;

// Set icon indent.
$icon-indent: 0.25em !default;

// Set icon size (Major Third - 1.12).
// @link https://goo.gl/EeDCq2
$icon-size: (
    large: 1.44em,
    medium: 1.2em,
    small: 1em,
) !default;

// Set icon label line height ratio.
$icon-label-line-height-ratio: 1.25 !default;

/**
 * Icons sets.
 */

// Set icon sets map.
$icon-set: (
    //
    // Notification icon set
    //
    notification: (
        danger: "block",
        notice: "info-outline",
        success: "check-outline",
        warning: "warning-outline",
    ),

) !default;
