/**
 * Component Indicator/Trend settings.
 */

// =============================================================================
// Trend indicator settings
// =============================================================================

// Set trend indicator color map.
$indicator-trend-color: (
    initial:  inherit,
    negative: $red--sunset,
    neutral:  $blue--dodger,
    positive: $green--malachite,
) !default;


.ind-trend {
    @include defineColor(--indicator-trend-color, inherit);
    @include defineColor(--indicator-trend--is-decrease-color, var(--danger-accent-50-color));
    @include defineColor(--indicator-trend--is-increase-color, var(--success-accent-50-color));
    @include defineColor(--indicator-trend--is-monochrome-color, inherit);
    @include defineColor(--indicator-trend--is-steady-color, var(--notice-accent-50-color));
}