/**
 * Layer Base settings.
 */

// =============================================================================
// Base settings
// =============================================================================

// Set base background color.
$base-background: $blue--zircon !default;

// Set base text color.
$base-color: grayscale($blue--fiord) !default;

// Set base font family stack.
$base-font-stack: ("Roboto", Helvetica, sans-serif) !default;

// Set base font size.
$base-font-size: 14px !default;

// Set browser default font size.
$base-font-size--browser: 16px !default;

// Set base font weight.
$base-font-weight: 300 !default;

// Set amount lists and blockquotes are indented.
$base-indent: 30px !default;

// Set base line height.
$base-line-height: 23px !default;

// Set base line height ratio.
$base-line-height-ratio: $base-line-height / $base-font-size !default;

// Set base rhythm unit.
$base-rhythm-unit: 0.5 !default;

// Set base type scale (Minor Third - 1.12).
// @link https://goo.gl/EeDCq2
$base-type-scale: (
    2.074,
    1.728,
    1.44,
    1.2,
    1,
) !default;

// Set base `::selection` background.
$base-selection-background: gold !default;

/**
 * Blockquotes.
 */

// Set blockquote background.
$base-blockquote-background: $blue--zircon !default;

// Set blockquote border color.
$base-blockquote-border-color: $orange--safron !default;

// Set blockquote border size.
$base-blockquote-border-size: 1px !default;

// Set blockquote box shadow.
$base-blockquote-box-shadow: 0 1px 3px -1px rgba($black, 0.125) !default;

// Set blockquote indent (acording to `$base-indent`).
$base-blockquote-indent: 30px !default;

// Browser (OS) specific
// =============================================================================

/**
 * Base scrollbar
 */

// Set base scrollbar radius.
// $base-scrollbar-radius: 4px !default;

// Set base scrollbar size.
$base-scrollbar-size: 8px !default;

$base-scrollbar-thumb: (
    hover:      rgba($black, 0.6),   // hovered
    initial:    rgba($black, 0.4),
) !default;

// Set base scrollbar track color.
$base-scrollbar-track: rgba($black, 0.1) !default;
