/**
 * Layer Colors settings.
 * @author David Sklar <david.sklar@datasapiens.co.uk>
 */

// =============================================================================
// Colors settings
// =============================================================================

$black:             #000;
$blue--yonder-200:  #eaf4fe;
$blue--yonder-300:  #c9daeb;
$blue--yonder-400:  #7396b2;
$blue--yonder-500:  #5e85a4;
$blue--yonder-600:  #4f6b86;
$blue--yonder-700:  #335570;
$blue--yonder-800:  #33495f;
$blue--summer:      #289be4;
$brown--sienna-400: #ea8051;
$brown--sienna-500: #f06253;
$green--caribbean:  #0dbc9d;
$red--cardinal:     #cd3324;
$white:             #fff;

// Set primary color set map.
$c-set--primary: (
    blue--dark:    #005a9a,
    brown--purple: #856469,
    cyan:          #009fe3, // primary color
    green:         #85a056,
    orange:        #db9a63,
    purple:        #9469ab,
);
