/**
 * Component Link settings.
 */

// =============================================================================
// Link settings
// =============================================================================

// Set link color (according to `$base-link-color`).
$link-color: (
    active:     lighten($blue--cerulean, 5%),  // pressed
    // focus:      lighten($blue--cerulean, 5%),  // focused
    hover:      lighten($blue--cerulean, 5%),  // hovered
    initial:    $blue--cerulean,
    visit:      $blue--cerulean,               // visited
) !default;

// Set link icon map.
$link-icon: (
    external: fa-lt-external-link-square,
    info:     fa-lt-info-circle,
) !default;
