/**
 * Component Message settings.
 * @author David Sklar <david.sklar@datasapiens.co.uk>
 */

// =============================================================================
// Message settings
// =============================================================================

// Set message border color.
$message-border-color: $white !default;

// Set message border radius (according to `$button-border-radius`).
$message-border-radius: 3px !default;

// Set message border size.
$message-border-size: 1px !default;

// Set message font size.
$message-font-size: 13px !default;

// Set message font weight.
$message-font-weight: 300 !default;

// Set message color.
$message-color: $base-color !default;

// Set message indent.
$message-indent: (
    horizontal: 10px,
    vertical: 10px,
) !default;

// Set message line height ratio.
$message-line-height-ratio: inherit !default;

// Set message themes map.
$message-theme: $color-set--primary !default;

// Set message title font size.
$message-title-font-size: 14px !default; // px-to-rem($base-font-size)

// Set message control color.
$message-control-color: (
    hover:      darken($gray, 30%),   // hovered
    initial:    $gray,
) !default;

// Set message control size.
$message-control-size: 22px !default;

// Set message icon opacity.
$message-icon-opacity: 0.7 !default;

// Set message icon color.
$message-icon-color: transparentize($white, 0.3) !default;

// Set message icon region size.
$message-icon-region-size: 50px !default;

// Set message icon size.
$message-icon-size: 30px !default;
