/**
 * Component Modal settings.
 */

// =============================================================================
// Modal settings
// =============================================================================

// Set modal background.
$modal-background: $white !default;

// Set modal border radius.
$modal-border-radius: 3px !default;

// Set modal box shadow.
$modal-box-shadow: 0 5px 20px -10px rgba($black, 0.75) !default;

// Set modal breakpoints.
$modal-breaks: (
    400px,
) !default;

// Set modal color.
$modal-color: $base-color !default;

// Set modal indent.
$modal-indent: 16px !default;

// Set modal z-index.
$modal-index: 5 !default;

// Set modal size.
$modal-size: (
    max: 800px,
    min: 100px,
) !default;

/**
 * Control.
 */

// Set modal control color.
$modal-control-color: (
    active:     lighten($blue--cerulean, 5%),  // pressed
    // focus:      lighten($blue--cerulean, 5%),  // focused
    hover:      lighten($blue--cerulean, 5%),  // hovered
    initial:    $blue--nepal,
) !default;

// Set modal control size.
$modal-control-size: 4 * $base-font-size !default;
