/**
 * Component Trail navigation settings.
 */

// =============================================================================
// Trail navigation settings
// =============================================================================

// Set navigation item indent.
$nav-trail-indent: 10px !default;

// Set navigation item indent.
$nav-trail-item-indent: 4px !default;

// Set navigation spacer color.
$nav-trail-spacer: #ccc !default;
