/**
 * Component Navigation/Primary settings.
 */

// =============================================================================
// Primary navigation settings
// =============================================================================

// Set navigation breakpoints.
$nav-primary-breaks: (
    600px,
);

// Set navigation background.
$nav-primary-background: $blue--congress;

// Set navigation box shadow.
$nav-primary-box-shadow: inset 0 1px 0 rgba($black, 0.125);

// Set navigation font size.
$nav-primary-font-size: 12px;

// Set navigation line height ratio.
$nav-primary-line-height-ratio: 1.5;

/**
 * Primary navigation item;
 */

// Set navigation item color.
$nav-primary-item-color: (
    active:     $white,     // pressed
    // disable:    $gray,      // disabled
    // focus:      $white,     // focused
    // hover:      $white,     // hovered
    initial:    rgba($white, 0.85),
);

// Set navigation item indent.
$nav-primary-item-indent: (
    horizontal: 25px,
    vertical: 0,
);

// Set navigation item size.
$nav-primary-item-size: 45px;

// Set navigation item marker color.
$nav-primary-item-marker-color: rgba($white, 0.5);

// Set navigation item marker size.
$nav-primary-item-marker-size: 2px;

// Set navigation item marker indent.
$nav-primary-item-marker-indent: 12px;

// Set navigation item spacer color.
$nav-primary-item-spacer-color: rgba($white, 0.25);

// Set navigation item spacer height.
$nav-primary-item-spacer-height: 1em;

// Set navigation item spacer width.
$nav-primary-item-spacer-width: 1px;
