/**
 * Componen Vertical navigation settings.
 * @author David Sklar <david.sklar@datasapiens.co.uk>
 */

// =============================================================================
// Vertical navigation settings
// =============================================================================

// Set navigation background.
$nav-vertical-background: white !default;

// Set navigation border color.
$nav-vertical-border-color: #ccc !default;

// Set navigation border radius.
$nav-vertical-border-radius: 3px !default;

// Set navigation border size.
$nav-vertical-border-size: 1px !default;

// Set navigation color.
$nav-vertical-color: #666 !default;

// Set navigation debug.
$nav-vertical-debug: false !default;
// $nav-vertical-debug: true;

// Set navigation depth.
$nav-vertical-depth: 5 !default;

// Set navigation font size.
$nav-vertical-font-size: 14px !default;

// Set navigation indent.
$nav-vertical-indent: (
    horizontal: 16px,
    vertical: 0,
) !default;

// Set navigation line height ratio.
$nav-vertical-line-height-ratio: 1.4 !default;

// Set navigation size.
$nav-vertical-size: (
    max: 280px,
    min: 180px,
) !default;

/**
 * Navigation item.
 */

// Set navigation item background.
$nav-vertical-item-background: (
    active:     #eee,          // pressed
    disable:    transparent,   // disabled
    focus:      #eee,          // focused
    hover:      #eee,          // hovered
    initial:    transparent,
) !default;

// Set navigation item border color.
$nav-vertical-item-border-color: rgba(black, 0.125) !default;

// Set navigation item border size.
$nav-vertical-item-border-size: 1px !default;

// Set navigation item color.
$nav-vertical-item-color: (
    active:     black,    // pressed
    disable:    #666,     // disabled
    focus:      black,    // focused
    hover:      black,    // hovered
    initial:    #666,
) !default;

// Set navigation item indent.
$nav-vertical-item-indent: (
    horizontal: 16px,
    vertical: 8px,
) !default;

/**
 * Navigation header.
 */

// Set navigation header border color.
$nav-vertical-header-border-color: rgba(black, 0.125) !default;

// Set navigation header border size.
$nav-vertical-header-border-size: 1px !default;

// Set navigation header indent.
$nav-vertical-header-indent: (
    horizontal: 16px,
    vertical: 8px,
) !default;

/**
 * Navigation title.
 */

// Set navigation title font size.
$nav-vertical-title-font-size: 12px !default;

// Set navigation title font weight.
$nav-vertical-title-font-weight: 500 !default;

// Primary navigation settings
// =============================================================================

// Set primary navigation background.
$nav-vertical--primary-background: #333 !default;

// Set primary navigation border color.
$nav-vertical--primary-border-color: #aaa !default;

// Set primary navigation color.
$nav-vertical--primary-color: #aaa !default;

/**
 * Primary navigation item.
 */

// Set primary navigation item background.
$nav-vertical--primary-item-background: (
    active:     #999,          // pressed
    disable:    transparent,   // disabled
    focus:      #999,          // focused
    hover:      #999,          // hovered
    initial:    transparent,
) !default;

// Set primary navigation item border color.
$nav-vertical--primary-item-border-color: rgba(white, 0.25) !default;
// $nav-vertical--primary-item-border-color: red;

// Set primary navigation item color.
$nav-vertical--primary-item-color: (
    active:     white,    // pressed
    disable:    #ddd,     // disabled
    focus:      white,    // focused
    hover:      white,    // hovered
    initial:    #ddd,
) !default;

/**
 * Primary navigation header.
 */

// Set primary navigation header border color.
$nav-vertical--primary-header-border-color: rgba(white, 0.25) !default;
