/**
 * Component Navigation/Trail settings.
 */

// =============================================================================
// Trail navigation settings
// =============================================================================

// Set navigation item indent.
$navigation-trail-indent: 10px !default;

// Set navigation item indent.
$navigation-trail-item-indent: 4px !default;

// Set navigation spacer color.
$navigation-trail-spacer: #ccc !default;

