/**
 * Component Page/Header settings.
 */

// =============================================================================
// Page header settings
// =============================================================================

// Set page header breakpoints.
$page-head-breaks: (
    450px,
    800px,
) !default;

// Set page header background.
$page-head-background: $black !default;

// Set page header box shadow.
$page-head-box-shadow: 0 1px 0 rgba($black, 0.125) !default;

// Set page header color.
$page-head-color: $white !default;

// Set page debug mode.
$page-head-debug: false !default;
// $page-head-debug: true;

// Set page header indent (according to `$page-inset-indent`).
$page-head-indent: 20px !default;

// Set page header index.
$page-head-index: 3 !default;

// Set page header line height ratio.
$page-head-line-height-ratio: 1.5 !default;

// Set page header height.
$page-head-size: 50px !default;

/**
 * Page header, control.
 */

// Set page header control size (according to `$page-sidebar-navigation-item-size`).
$page-head-control-size: (
    height: 5rem,
    width: 5rem,
) !default;

/**
 * Page header, logo.
 */

// Set page header logo size.
$page-head-logo-size: (
    height: 25px,
    width: 45px,
) !default;


.page-head {
    @include defineColor(--page-head-background-color, var(--black-color));
    @include defineColor(--page-head-color, var(--white-color));
    @include defineColor(--page-head-link-color, inherit);
    @include defineColor(--page-head__title-color, inherit);
}