/**
 * Component Page/Sidebar settings.
 */

// =============================================================================
// Page sidebar settings
// =============================================================================

// Set page sidebar background.
$page-sidebar-background: #4d4d4d !default;

// Set page sidebar box shadow.
$page-sidebar-box-shadow: inset 0 0 3px rgba(black, 0.5);

// Set page sidebar breakpoints.
$page-sidebar-breaks: (
    800px,
    1000px,
) !default;

// Set page sidebar indent (according to `nav-sidebar-indent`).
$page-sidebar-indent: (
    horizontal: 16px,
    vertical: 0,
) !default;

// Set page sidebar index.
$page-sidebar-index: 4 !default;

// Set page sidebar size.
$page-sidebar-size: (
    max: calc(250px + 5rem),
    min: 5rem,
) !default;

/**
 * Page sidebar navbar.
 */

// Set page sidebar navbar background.
$page-sidebar-navbar-background: #333 !default;

// Set page sidebar navbar box shadow.
$page-sidebar-navbar-box-shadow: 0 -1px 3px rgba(black, 0.5);

/**
 * Page sidebar navigation.
 */

// Set page sidebar navigation depth.
$page-sidebar-navigation-depth: 3 !default;

// Set page sidebar navigation item background.
$page-sidebar-navigation-item-background: (
    active:     $blue--dodger,  // pressed
    disable:    transparent,    // disabled
    focus:      $blue--dodger,  // focused
    hover:      $blue--dodger,  // hovered
    initial:    transparent,
) !default;

// Set page sidebar navigation item count.
$page-sidebar-navigation-item-count: 5 !default;

// Set page sidebar navigation item font size.
$page-sidebar-navigation-item-font-size: 11px !default;

// Set page sidebar navigation item font weight.
$page-sidebar-navigation-item-font-weight: 300 !default;

// Set page sidebar navigation item indent.
$page-sidebar-navigation-item-indent: 10px !default;

// Set page sidebar navigation item size.
$page-sidebar-navigation-item-size: (
    height: 5rem,
    width: 5rem,
) !default;

// Set page sidebar navigation item icon size.
$page-sidebar-navigation-item-icon-size: 18px !default;

/**
 * Page sidebar footer.
 */

// Set page sidebar footer background.
$page-sidebar-foot-background: #777 !default;

body.theme {
    @include defineColor(--page-sidebar-background-color, #4d4d4d);
    @include defineColor(--page-sidebar-navbar-background-color, #333);
    @include defineColor(--page-sidebar-navigation__item__region--is-active-background-color, var(--primary-accent-50-color));
    @include defineColor(--page-sidebar-navigation__item__region--is-hovered-background-color, var(--primary-accent-50-color));
}