/**
 * Component Page/Header settings.
 * @author David Sklar <david.sklar@datasapiens.co.uk>
 */

// =============================================================================
// Page header settings
// =============================================================================

// Set page header background.
$page-head-background: slategray;

// Set page header color.
$page-head-color: #fff;

// Set page header index.
$page-head-index: 3;
