/**
 * Component Page/Footer settings.
 */

// =============================================================================
// Page footer settings
// =============================================================================

// Set page footer background.
$page-foot-background: $blue--nepal;

// Set page footer color.
$page-foot-color: $white;

// Set page footer font size.
$page-foot-font-size: 13px;
