/**
 * Component Page/Context settings.
 */

// =============================================================================
// Page context settings
// =============================================================================

// Set page context background.
$page-context-background: map-get(map-get($color-set, neutral), 80) !default;

// Set page context offset (according to `$page-head-size`).
$page-context-offset: 50px !default;

// Set page context indent.
$page-context-indent: 16px !default;
