/**
 * Component Panel settings.
 * @author David Sklar <david.sklar@datasapiens.co.uk>
 */

// =============================================================================
// Panel settings
// =============================================================================

// Set panel background.
$panel-background: #fff;

// Set panel border color.
$panel-border-color: #ccc;

// Set panel border size.
$panel-border-size: 1px;

// Set panel indent.
$panel-indent: 20px;
