/**
 * Component Panel settings.
 */

// =============================================================================
// Panel settings
// =============================================================================

// Set panel background.
$panel-background: $white;

// Set panel border color.
$panel-border-color: #aaa;

// Set panel border radius.
$panel-border-radius: 3px;

// Set panel border size.
$panel-border-size: 1px;

// Set panel indent.
$panel-indent: (
    horizontal: 16px,
    vertical:   8px,
);

// Set light panel box shadow.
$panel--light-box-shadow: 0 5px 30px -5px rgba($panel-border-color, 0.75);
