/**
 * Component Sticker settings.
 */

// =============================================================================
// Sticker settings
// =============================================================================

// Set sticker background.
$sticker-background: $blue--catskill !default;

// Set sticker border radius.
$sticker-border-radius: 2px !default;

// Set sticker box shadow.
$sticker-box-shadow: 0 2px 3px -1px rgba($black, 0.125) !default;

// Set sticker text shadow.
// $sticker-text-shadow: $black !default;

// Set sticker color.
$sticker-color: $black !default;

// Set sticker font size.
$sticker-font-size: 14px !default;

// Set sticker indent.
$sticker-indent: 8px !default;

// Set sticker z-index.
$sticker-index: 1 !default;

// Set sticker text shadow.
$sticker-text-shadow: 0 1px 1px rgba($black, 0.125) !default;

// Set sticker size map.
$sticker-size: (
    max: 10rem,
    min: 4rem,
) !default;

// Set sticker themes map.
$sticker-theme: map-get($color-set, accent) !default;

/**
 * Primary sticker.
 */

// Set primary sticker font size.
$sticker--primary-font-size: 12px !default;

body.theme {
    --sticker-background-color: var(--neutral-80-color-opacity-75);
    --sticker-color: var(--black-color);
    
    --sticker--danger-color: var(--white-color);
    --sticker--danger-background-color: var(--danger-accent-50-color-opacity-75);
    --sticker--danger-gradient-background-dark-color: var(--danger-accent-50-color-darken-10-opacity-75);
    --sticker--danger-gradient-background-light-color: var(--danger-accent-50-color-opacity-75);
    
    --sticker--neutral-color: var(--white-color);
    --sticker--neutral-background-color: var(--neutral-accent-50-color-opacity-75);
    --sticker--neutral-gradient-background-dark-color: var(--neutral-accent-50-color-darken-10-opacity-75);
    --sticker--neutral-gradient-background-light-color: var(--neutral-accent-50-color-opacity-75);
    
    --sticker--notice-color: var(--white-color);
    --sticker--notice-background-color: var(--notice-accent-50-color-opacity-75);
    --sticker--notice-gradient-background-dark-color: var(--notice-accent-50-color-darken-10-opacity-75);
    --sticker--notice-gradient-background-light-color: var(--notice-accent-50-color-opacity-75);
    
    --sticker--success-color: var(--white-color);
    --sticker--success-background-color: var(--success-accent-50-color-opacity-75);
    --sticker--success-gradient-background-dark-color: var(--success-accent-50-color-darken-10-opacity-75);
    --sticker--success-gradient-background-light-color: var(--success-accent-50-color-opacity-75);
    
    --sticker--warning-color: var(--white-color);
    --sticker--warning-background-color: var(--warning-accent-50-color-opacity-75);
    --sticker--warning-gradient-background-dark-color: var(--warning-accent-50-color-darken-10-opacity-75);
    --sticker--warning-gradient-background-light-color: var(--warning-accent-50-color-opacity-75);
}