/**
 * Component Table settings.
 */

// =============================================================================
// Table settings
// =============================================================================

// Set table background.
$table-background: (
    body: $white,
    foot: $white,
    head: $white,
) !default;

// Set table breakpoints.
$table-breaks: (
    750px,
    800px,
    1100px
) !default;

// Set table border radius.
$table-border-radius: 2px !default;

// Set table box shadow.
$table-box-shadow: 0 1px 3px -1px rgba($black, 0.125) !default;

// Set table color.
$table-color: (
    body: $base-color,
    foot: $base-color,
    head: $base-color,
) !default;

// Set table font size.
$table-font-size: $base-font-size !default;

// Set table line height ratio.
$table-line-height-ratio: 1.25 !default;

/**
 * Table group.
 */

// Set table group border color.
$table-group-border-color: $blue--geyser !default;

// Set table group border size.
$table-group-border-size: 1px !default;

// Set table group box shadow.
$table-group-box-shadow: (
    inner: (
        inset 0 1px 2px -1px rgba($black, 0.125),
        inset 0 -1px 2px -1px rgba($black, 0.125),
    ),
    // outer: 0 1px 4px -2px rgba($black, 0.125),
) !default;

// Set table `active` group background.
$table-group--active-background: $green--dolly !default;

// Set table `active` group color.
$table-group--active-color: $black !default;

// Set table `bold` group background.
$table-group--bold-background: $green--canary !default;

// Set table `bold` group color.
$table-group--bold-color: $black !default;

/**
 * Table cell.
 */

// Set table cell border color.
$table-cell-border-color: $blue--catskill !default;

// Set table cell border size.
$table-cell-border-size: 1px !default;

// Set table cell indent.
$table-cell-indent: 8px !default;

/**
 * Table scrollbar.
 */

// Set table scrollbar size (according to `$base-scrollbar-size`).
$table-scrollbar-size: 8px !default;

/**
 * Table, edge.
 */

// Set boxed table border color.
$table--edge-border-color: $blue--catskill !default;

// Set boxed table border size.
$table--edge-border-size: 1px !default;

/**
 * Table, print.
 */

// Set print table font size.
$table--print-font-size: 8pt !default;

/**
 * Table, stripe.
 */

// Set table `bold` row background.
$table--stripe-row-background: $blue--geyser !default;

/**
 * Table, primary.
 */

// Set primary table background.
$table--primary-background: (
    body: $white,
    foot: $white,
    head: $blue--zircon,
) !default;

// Set primary table border size.
$table--primary-border-size: 8px !default;

// Set primary table indent.
$table--primary-indent: 0 !default;

/**
 * Table, secondary.
 */

// Set secondary table background.
$table--secondary-background: (
    body: $white,
    foot: $white,
    head: $white,
) !default;

// Set secondary table border size.
$table--secondary-border-size: 1px !default;

// Set secondary table indent.
$table--secondary-indent: 8px !default;


.tbl {
    @include defineColor(--table-background-color, var(--white-color));
    @include defineColor(--table-thead-background-color, var(--white-color));
    @include defineColor(--table-thead-color, var(--base-color));
    @include defineColor(--table-tbody-color, var(--base-color));
    @include defineColor(--table-tfoot-color, var(--base-color));
    @include defineColor(--table-cell-border-color, var(--neutral-80-color));
    @include defineColor(--table--edge-border-color, var(--neutral-80-color));
    @include defineColor(--table--line-border-color, var(--neutral-80-color));
    @include defineColor(--table--stripe--even-row-background-color, var(--neutral-70-color-opacity-23));
    @include defineColor(--table--stripe--odd-row-background-color, var(--neutral-70-color-opacity-23));
    @include defineColor(--table--primary-background-color, var(--white-color));
    @include defineColor(--table-thead--primary-background-color, var(--neutral-90-color)); 
    @include defineColor(--table--secondary-background-color, var(--white-color));
    @include defineColor(--table-thead--secondary-background-color, var(--white-color));
    @include defineColor(--table-cell--is-monochrome-color, var(--neutral-10-color));
    @include defineColor(--table__group-border-top-color, var(--neutral-70-color));
    @include defineColor(--table__group--active-background-color, var(--tertiary-100-color));
    @include defineColor(--table__group--active-color, var(--black-color));
    @include defineColor(--table__group--bold-background-color, var(--tertiary-100-color-opacity-80));
    @include defineColor(--table__group--bold-color, var(--black-color));
}