/**
 * Component Wrapper settings.
 * @author David Sklar <david.sklar@datasapiens.co.uk>
 */

// =============================================================================
// Wrapper settings
// =============================================================================

// Set wrap indent.
$wrapper-indent: (
    horizontal: 20px,
    vertical: 10px,
) !default;
