/**
 * Component Wrapper settings.
 */

// =============================================================================
// Wrapper settings
// =============================================================================

// Set wrap indent.
$wrapper-indent: (
    horizontal: 8px,
    vertical: 8px,
) !default;
