<div class="u-group">

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-account">
                <span class="u-block">
                    <i class="ico --account" style="font-size: 39px; "></i>
                    <i class="ico --account" style="font-size: 26px; "></i>
                    <i class="ico --account" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --account --before u-block u-truncate">account</span>
                    <span class="ico --account --before --large u-block u-truncate">account (large)</span>
                </span>
            </label>
            <input type="text" value="ico --account" class="font-monospace" id="i-account" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-apps">
                <span class="u-block">
                    <i class="ico --apps" style="font-size: 39px; "></i>
                    <i class="ico --apps" style="font-size: 26px; "></i>
                    <i class="ico --apps" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --apps --before u-block u-truncate">apps</span>
                    <span class="ico --apps --before --large u-block u-truncate">apps (large)</span>
                </span>
            </label>
            <input type="text" value="ico --apps" class="font-monospace" id="i-apps" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-arrow-down">
                <span class="u-block">
                    <i class="ico --arrow-down" style="font-size: 39px; "></i>
                    <i class="ico --arrow-down" style="font-size: 26px; "></i>
                    <i class="ico --arrow-down" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --arrow-down --before u-block u-truncate">arrow-down</span>
                    <span class="ico --arrow-down --before --large u-block u-truncate">arrow-down (large)</span>
                </span>
            </label>
            <input type="text" value="ico --arrow-down" class="font-monospace" id="i-arrow-down" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-arrow-left">
                <span class="u-block">
                    <i class="ico --arrow-left" style="font-size: 39px; "></i>
                    <i class="ico --arrow-left" style="font-size: 26px; "></i>
                    <i class="ico --arrow-left" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --arrow-left --before u-block u-truncate">arrow-left</span>
                    <span class="ico --arrow-left --before --large u-block u-truncate">arrow-left (large)</span>
                </span>
            </label>
            <input type="text" value="ico --arrow-left" class="font-monospace" id="i-arrow-left" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-arrow-right">
                <span class="u-block">
                    <i class="ico --arrow-right" style="font-size: 39px; "></i>
                    <i class="ico --arrow-right" style="font-size: 26px; "></i>
                    <i class="ico --arrow-right" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --arrow-right --before u-block u-truncate">arrow-right</span>
                    <span class="ico --arrow-right --before --large u-block u-truncate">arrow-right (large)</span>
                </span>
            </label>
            <input type="text" value="ico --arrow-right" class="font-monospace" id="i-arrow-right" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-arrow-up">
                <span class="u-block">
                    <i class="ico --arrow-up" style="font-size: 39px; "></i>
                    <i class="ico --arrow-up" style="font-size: 26px; "></i>
                    <i class="ico --arrow-up" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --arrow-up --before u-block u-truncate">arrow-up</span>
                    <span class="ico --arrow-up --before --large u-block u-truncate">arrow-up (large)</span>
                </span>
            </label>
            <input type="text" value="ico --arrow-up" class="font-monospace" id="i-arrow-up" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-briefcase">
                <span class="u-block">
                    <i class="ico --briefcase" style="font-size: 39px; "></i>
                    <i class="ico --briefcase" style="font-size: 26px; "></i>
                    <i class="ico --briefcase" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --briefcase --before u-block u-truncate">briefcase</span>
                    <span class="ico --briefcase --before --large u-block u-truncate">briefcase (large)</span>
                </span>
            </label>
            <input type="text" value="ico --briefcase" class="font-monospace" id="i-briefcase" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-caret-down">
                <span class="u-block">
                    <i class="ico --caret-down" style="font-size: 39px; "></i>
                    <i class="ico --caret-down" style="font-size: 26px; "></i>
                    <i class="ico --caret-down" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --caret-down --before u-block u-truncate">caret-down</span>
                    <span class="ico --caret-down --before --large u-block u-truncate">caret-down (large)</span>
                </span>
            </label>
            <input type="text" value="ico --caret-down" class="font-monospace" id="i-caret-down" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-caret-up">
                <span class="u-block">
                    <i class="ico --caret-up" style="font-size: 39px; "></i>
                    <i class="ico --caret-up" style="font-size: 26px; "></i>
                    <i class="ico --caret-up" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --caret-up --before u-block u-truncate">caret-up</span>
                    <span class="ico --caret-up --before --large u-block u-truncate">caret-up (large)</span>
                </span>
            </label>
            <input type="text" value="ico --caret-up" class="font-monospace" id="i-caret-up" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-check-circle">
                <span class="u-block">
                    <i class="ico --check-circle" style="font-size: 39px; "></i>
                    <i class="ico --check-circle" style="font-size: 26px; "></i>
                    <i class="ico --check-circle" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --check-circle --before u-block u-truncate">check-circle</span>
                    <span class="ico --check-circle --before --large u-block u-truncate">check-circle (large)</span>
                </span>
            </label>
            <input type="text" value="ico --check-circle" class="font-monospace" id="i-check-circle" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-download">
                <span class="u-block">
                    <i class="ico --download" style="font-size: 39px; "></i>
                    <i class="ico --download" style="font-size: 26px; "></i>
                    <i class="ico --download" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --download --before u-block u-truncate">download</span>
                    <span class="ico --download --before --large u-block u-truncate">download (large)</span>
                </span>
            </label>
            <input type="text" value="ico --download" class="font-monospace" id="i-download" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-exit">
                <span class="u-block">
                    <i class="ico --exit" style="font-size: 39px; "></i>
                    <i class="ico --exit" style="font-size: 26px; "></i>
                    <i class="ico --exit" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --exit --before u-block u-truncate">exit</span>
                    <span class="ico --exit --before --large u-block u-truncate">exit (large)</span>
                </span>
            </label>
            <input type="text" value="ico --exit" class="font-monospace" id="i-exit" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-help-outline">
                <span class="u-block">
                    <i class="ico --help-outline" style="font-size: 39px; "></i>
                    <i class="ico --help-outline" style="font-size: 26px; "></i>
                    <i class="ico --help-outline" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --help-outline --before u-block u-truncate">help-outline</span>
                    <span class="ico --help-outline --before --large u-block u-truncate">help-outline (large)</span>
                </span>
            </label>
            <input type="text" value="ico --help-outline" class="font-monospace" id="i-help-outline" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-language">
                <span class="u-block">
                    <i class="ico --language" style="font-size: 39px; "></i>
                    <i class="ico --language" style="font-size: 26px; "></i>
                    <i class="ico --language" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --language --before u-block u-truncate">language</span>
                    <span class="ico --language --before --large u-block u-truncate">language (large)</span>
                </span>
            </label>
            <input type="text" value="ico --language" class="font-monospace" id="i-language" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-menu">
                <span class="u-block">
                    <i class="ico --menu" style="font-size: 39px; "></i>
                    <i class="ico --menu" style="font-size: 26px; "></i>
                    <i class="ico --menu" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --menu --before u-block u-truncate">menu</span>
                    <span class="ico --menu --before --large u-block u-truncate">menu (large)</span>
                </span>
            </label>
            <input type="text" value="ico --menu" class="font-monospace" id="i-menu" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-timelapse">
                <span class="u-block">
                    <i class="ico --timelapse" style="font-size: 39px; "></i>
                    <i class="ico --timelapse" style="font-size: 26px; "></i>
                    <i class="ico --timelapse" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --timelapse --before u-block u-truncate">timelapse</span>
                    <span class="ico --timelapse --before --large u-block u-truncate">timelapse (large)</span>
                </span>
            </label>
            <input type="text" value="ico --timelapse" class="font-monospace" id="i-timelapse" readonly>
        </p>
    </div>

</div>
