<div class="u-group">

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-add-box">
                <span class="u-block">
                    <i class="ico --add-box" style="font-size: 39px; "></i>
                    <i class="ico --add-box" style="font-size: 26px; "></i>
                    <i class="ico --add-box" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --add-box --before u-block u-truncate">add-box</span>
                    <span class="ico --add-box --before --large u-block u-truncate">add-box (large)</span>
                </span>
            </label>
            <input type="text" value="ico --add-box" class="font-monospace" id="i-add-box" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-add-circle-outline">
                <span class="u-block">
                    <i class="ico --add-circle-outline" style="font-size: 39px; "></i>
                    <i class="ico --add-circle-outline" style="font-size: 26px; "></i>
                    <i class="ico --add-circle-outline" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --add-circle-outline --before u-block u-truncate">add-circle-outline</span>
                    <span class="ico --add-circle-outline --before --large u-block u-truncate">add-circle-outline (large)</span>
                </span>
            </label>
            <input type="text" value="ico --add-circle-outline" class="font-monospace" id="i-add-circle-outline" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-add-circle">
                <span class="u-block">
                    <i class="ico --add-circle" style="font-size: 39px; "></i>
                    <i class="ico --add-circle" style="font-size: 26px; "></i>
                    <i class="ico --add-circle" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --add-circle --before u-block u-truncate">add-circle</span>
                    <span class="ico --add-circle --before --large u-block u-truncate">add-circle (large)</span>
                </span>
            </label>
            <input type="text" value="ico --add-circle" class="font-monospace" id="i-add-circle" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-add">
                <span class="u-block">
                    <i class="ico --add" style="font-size: 39px; "></i>
                    <i class="ico --add" style="font-size: 26px; "></i>
                    <i class="ico --add" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --add --before u-block u-truncate">add</span>
                    <span class="ico --add --before --large u-block u-truncate">add (large)</span>
                </span>
            </label>
            <input type="text" value="ico --add" class="font-monospace" id="i-add" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-arrow-back">
                <span class="u-block">
                    <i class="ico --arrow-back" style="font-size: 39px; "></i>
                    <i class="ico --arrow-back" style="font-size: 26px; "></i>
                    <i class="ico --arrow-back" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --arrow-back --before u-block u-truncate">arrow-back</span>
                    <span class="ico --arrow-back --before --large u-block u-truncate">arrow-back (large)</span>
                </span>
            </label>
            <input type="text" value="ico --arrow-back" class="font-monospace" id="i-arrow-back" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-arrow-down">
                <span class="u-block">
                    <i class="ico --arrow-down" style="font-size: 39px; "></i>
                    <i class="ico --arrow-down" style="font-size: 26px; "></i>
                    <i class="ico --arrow-down" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --arrow-down --before u-block u-truncate">arrow-down</span>
                    <span class="ico --arrow-down --before --large u-block u-truncate">arrow-down (large)</span>
                </span>
            </label>
            <input type="text" value="ico --arrow-down" class="font-monospace" id="i-arrow-down" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-arrow-downward">
                <span class="u-block">
                    <i class="ico --arrow-downward" style="font-size: 39px; "></i>
                    <i class="ico --arrow-downward" style="font-size: 26px; "></i>
                    <i class="ico --arrow-downward" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --arrow-downward --before u-block u-truncate">arrow-downward</span>
                    <span class="ico --arrow-downward --before --large u-block u-truncate">arrow-downward (large)</span>
                </span>
            </label>
            <input type="text" value="ico --arrow-downward" class="font-monospace" id="i-arrow-downward" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-arrow-forward">
                <span class="u-block">
                    <i class="ico --arrow-forward" style="font-size: 39px; "></i>
                    <i class="ico --arrow-forward" style="font-size: 26px; "></i>
                    <i class="ico --arrow-forward" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --arrow-forward --before u-block u-truncate">arrow-forward</span>
                    <span class="ico --arrow-forward --before --large u-block u-truncate">arrow-forward (large)</span>
                </span>
            </label>
            <input type="text" value="ico --arrow-forward" class="font-monospace" id="i-arrow-forward" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-arrow-left">
                <span class="u-block">
                    <i class="ico --arrow-left" style="font-size: 39px; "></i>
                    <i class="ico --arrow-left" style="font-size: 26px; "></i>
                    <i class="ico --arrow-left" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --arrow-left --before u-block u-truncate">arrow-left</span>
                    <span class="ico --arrow-left --before --large u-block u-truncate">arrow-left (large)</span>
                </span>
            </label>
            <input type="text" value="ico --arrow-left" class="font-monospace" id="i-arrow-left" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-arrow-right">
                <span class="u-block">
                    <i class="ico --arrow-right" style="font-size: 39px; "></i>
                    <i class="ico --arrow-right" style="font-size: 26px; "></i>
                    <i class="ico --arrow-right" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --arrow-right --before u-block u-truncate">arrow-right</span>
                    <span class="ico --arrow-right --before --large u-block u-truncate">arrow-right (large)</span>
                </span>
            </label>
            <input type="text" value="ico --arrow-right" class="font-monospace" id="i-arrow-right" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-arrow-up">
                <span class="u-block">
                    <i class="ico --arrow-up" style="font-size: 39px; "></i>
                    <i class="ico --arrow-up" style="font-size: 26px; "></i>
                    <i class="ico --arrow-up" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --arrow-up --before u-block u-truncate">arrow-up</span>
                    <span class="ico --arrow-up --before --large u-block u-truncate">arrow-up (large)</span>
                </span>
            </label>
            <input type="text" value="ico --arrow-up" class="font-monospace" id="i-arrow-up" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-arrow-upward">
                <span class="u-block">
                    <i class="ico --arrow-upward" style="font-size: 39px; "></i>
                    <i class="ico --arrow-upward" style="font-size: 26px; "></i>
                    <i class="ico --arrow-upward" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --arrow-upward --before u-block u-truncate">arrow-upward</span>
                    <span class="ico --arrow-upward --before --large u-block u-truncate">arrow-upward (large)</span>
                </span>
            </label>
            <input type="text" value="ico --arrow-upward" class="font-monospace" id="i-arrow-upward" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-block">
                <span class="u-block">
                    <i class="ico --block" style="font-size: 39px; "></i>
                    <i class="ico --block" style="font-size: 26px; "></i>
                    <i class="ico --block" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --block --before u-block u-truncate">block</span>
                    <span class="ico --block --before --large u-block u-truncate">block (large)</span>
                </span>
            </label>
            <input type="text" value="ico --block" class="font-monospace" id="i-block" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-cancel-outline">
                <span class="u-block">
                    <i class="ico --cancel-outline" style="font-size: 39px; "></i>
                    <i class="ico --cancel-outline" style="font-size: 26px; "></i>
                    <i class="ico --cancel-outline" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --cancel-outline --before u-block u-truncate">cancel-outline</span>
                    <span class="ico --cancel-outline --before --large u-block u-truncate">cancel-outline (large)</span>
                </span>
            </label>
            <input type="text" value="ico --cancel-outline" class="font-monospace" id="i-cancel-outline" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-cancel">
                <span class="u-block">
                    <i class="ico --cancel" style="font-size: 39px; "></i>
                    <i class="ico --cancel" style="font-size: 26px; "></i>
                    <i class="ico --cancel" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --cancel --before u-block u-truncate">cancel</span>
                    <span class="ico --cancel --before --large u-block u-truncate">cancel (large)</span>
                </span>
            </label>
            <input type="text" value="ico --cancel" class="font-monospace" id="i-cancel" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-caret-down">
                <span class="u-block">
                    <i class="ico --caret-down" style="font-size: 39px; "></i>
                    <i class="ico --caret-down" style="font-size: 26px; "></i>
                    <i class="ico --caret-down" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --caret-down --before u-block u-truncate">caret-down</span>
                    <span class="ico --caret-down --before --large u-block u-truncate">caret-down (large)</span>
                </span>
            </label>
            <input type="text" value="ico --caret-down" class="font-monospace" id="i-caret-down" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-caret-up">
                <span class="u-block">
                    <i class="ico --caret-up" style="font-size: 39px; "></i>
                    <i class="ico --caret-up" style="font-size: 26px; "></i>
                    <i class="ico --caret-up" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --caret-up --before u-block u-truncate">caret-up</span>
                    <span class="ico --caret-up --before --large u-block u-truncate">caret-up (large)</span>
                </span>
            </label>
            <input type="text" value="ico --caret-up" class="font-monospace" id="i-caret-up" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-chat-bubble-outline">
                <span class="u-block">
                    <i class="ico --chat-bubble-outline" style="font-size: 39px; "></i>
                    <i class="ico --chat-bubble-outline" style="font-size: 26px; "></i>
                    <i class="ico --chat-bubble-outline" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --chat-bubble-outline --before u-block u-truncate">chat-bubble-outline</span>
                    <span class="ico --chat-bubble-outline --before --large u-block u-truncate">chat-bubble-outline (large)</span>
                </span>
            </label>
            <input type="text" value="ico --chat-bubble-outline" class="font-monospace" id="i-chat-bubble-outline" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-check-circle-outline">
                <span class="u-block">
                    <i class="ico --check-circle-outline" style="font-size: 39px; "></i>
                    <i class="ico --check-circle-outline" style="font-size: 26px; "></i>
                    <i class="ico --check-circle-outline" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --check-circle-outline --before u-block u-truncate">check-circle-outline</span>
                    <span class="ico --check-circle-outline --before --large u-block u-truncate">check-circle-outline (large)</span>
                </span>
            </label>
            <input type="text" value="ico --check-circle-outline" class="font-monospace" id="i-check-circle-outline" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-check-circle">
                <span class="u-block">
                    <i class="ico --check-circle" style="font-size: 39px; "></i>
                    <i class="ico --check-circle" style="font-size: 26px; "></i>
                    <i class="ico --check-circle" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --check-circle --before u-block u-truncate">check-circle</span>
                    <span class="ico --check-circle --before --large u-block u-truncate">check-circle (large)</span>
                </span>
            </label>
            <input type="text" value="ico --check-circle" class="font-monospace" id="i-check-circle" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-check">
                <span class="u-block">
                    <i class="ico --check" style="font-size: 39px; "></i>
                    <i class="ico --check" style="font-size: 26px; "></i>
                    <i class="ico --check" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --check --before u-block u-truncate">check</span>
                    <span class="ico --check --before --large u-block u-truncate">check (large)</span>
                </span>
            </label>
            <input type="text" value="ico --check" class="font-monospace" id="i-check" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-close">
                <span class="u-block">
                    <i class="ico --close" style="font-size: 39px; "></i>
                    <i class="ico --close" style="font-size: 26px; "></i>
                    <i class="ico --close" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --close --before u-block u-truncate">close</span>
                    <span class="ico --close --before --large u-block u-truncate">close (large)</span>
                </span>
            </label>
            <input type="text" value="ico --close" class="font-monospace" id="i-close" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-delete">
                <span class="u-block">
                    <i class="ico --delete" style="font-size: 39px; "></i>
                    <i class="ico --delete" style="font-size: 26px; "></i>
                    <i class="ico --delete" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --delete --before u-block u-truncate">delete</span>
                    <span class="ico --delete --before --large u-block u-truncate">delete (large)</span>
                </span>
            </label>
            <input type="text" value="ico --delete" class="font-monospace" id="i-delete" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-edit">
                <span class="u-block">
                    <i class="ico --edit" style="font-size: 39px; "></i>
                    <i class="ico --edit" style="font-size: 26px; "></i>
                    <i class="ico --edit" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --edit --before u-block u-truncate">edit</span>
                    <span class="ico --edit --before --large u-block u-truncate">edit (large)</span>
                </span>
            </label>
            <input type="text" value="ico --edit" class="font-monospace" id="i-edit" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-error-outline">
                <span class="u-block">
                    <i class="ico --error-outline" style="font-size: 39px; "></i>
                    <i class="ico --error-outline" style="font-size: 26px; "></i>
                    <i class="ico --error-outline" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --error-outline --before u-block u-truncate">error-outline</span>
                    <span class="ico --error-outline --before --large u-block u-truncate">error-outline (large)</span>
                </span>
            </label>
            <input type="text" value="ico --error-outline" class="font-monospace" id="i-error-outline" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-error">
                <span class="u-block">
                    <i class="ico --error" style="font-size: 39px; "></i>
                    <i class="ico --error" style="font-size: 26px; "></i>
                    <i class="ico --error" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --error --before u-block u-truncate">error</span>
                    <span class="ico --error --before --large u-block u-truncate">error (large)</span>
                </span>
            </label>
            <input type="text" value="ico --error" class="font-monospace" id="i-error" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-file-download">
                <span class="u-block">
                    <i class="ico --file-download" style="font-size: 39px; "></i>
                    <i class="ico --file-download" style="font-size: 26px; "></i>
                    <i class="ico --file-download" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --file-download --before u-block u-truncate">file-download</span>
                    <span class="ico --file-download --before --large u-block u-truncate">file-download (large)</span>
                </span>
            </label>
            <input type="text" value="ico --file-download" class="font-monospace" id="i-file-download" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-file-upload">
                <span class="u-block">
                    <i class="ico --file-upload" style="font-size: 39px; "></i>
                    <i class="ico --file-upload" style="font-size: 26px; "></i>
                    <i class="ico --file-upload" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --file-upload --before u-block u-truncate">file-upload</span>
                    <span class="ico --file-upload --before --large u-block u-truncate">file-upload (large)</span>
                </span>
            </label>
            <input type="text" value="ico --file-upload" class="font-monospace" id="i-file-upload" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-help-outline">
                <span class="u-block">
                    <i class="ico --help-outline" style="font-size: 39px; "></i>
                    <i class="ico --help-outline" style="font-size: 26px; "></i>
                    <i class="ico --help-outline" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --help-outline --before u-block u-truncate">help-outline</span>
                    <span class="ico --help-outline --before --large u-block u-truncate">help-outline (large)</span>
                </span>
            </label>
            <input type="text" value="ico --help-outline" class="font-monospace" id="i-help-outline" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-info-outline">
                <span class="u-block">
                    <i class="ico --info-outline" style="font-size: 39px; "></i>
                    <i class="ico --info-outline" style="font-size: 26px; "></i>
                    <i class="ico --info-outline" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --info-outline --before u-block u-truncate">info-outline</span>
                    <span class="ico --info-outline --before --large u-block u-truncate">info-outline (large)</span>
                </span>
            </label>
            <input type="text" value="ico --info-outline" class="font-monospace" id="i-info-outline" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-info">
                <span class="u-block">
                    <i class="ico --info" style="font-size: 39px; "></i>
                    <i class="ico --info" style="font-size: 26px; "></i>
                    <i class="ico --info" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --info --before u-block u-truncate">info</span>
                    <span class="ico --info --before --large u-block u-truncate">info (large)</span>
                </span>
            </label>
            <input type="text" value="ico --info" class="font-monospace" id="i-info" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-lightbulb-outline">
                <span class="u-block">
                    <i class="ico --lightbulb-outline" style="font-size: 39px; "></i>
                    <i class="ico --lightbulb-outline" style="font-size: 26px; "></i>
                    <i class="ico --lightbulb-outline" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --lightbulb-outline --before u-block u-truncate">lightbulb-outline</span>
                    <span class="ico --lightbulb-outline --before --large u-block u-truncate">lightbulb-outline (large)</span>
                </span>
            </label>
            <input type="text" value="ico --lightbulb-outline" class="font-monospace" id="i-lightbulb-outline" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-remove-box">
                <span class="u-block">
                    <i class="ico --remove-box" style="font-size: 39px; "></i>
                    <i class="ico --remove-box" style="font-size: 26px; "></i>
                    <i class="ico --remove-box" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --remove-box --before u-block u-truncate">remove-box</span>
                    <span class="ico --remove-box --before --large u-block u-truncate">remove-box (large)</span>
                </span>
            </label>
            <input type="text" value="ico --remove-box" class="font-monospace" id="i-remove-box" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-remove-circle-outline">
                <span class="u-block">
                    <i class="ico --remove-circle-outline" style="font-size: 39px; "></i>
                    <i class="ico --remove-circle-outline" style="font-size: 26px; "></i>
                    <i class="ico --remove-circle-outline" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --remove-circle-outline --before u-block u-truncate">remove-circle-outline</span>
                    <span class="ico --remove-circle-outline --before --large u-block u-truncate">remove-circle-outline (large)</span>
                </span>
            </label>
            <input type="text" value="ico --remove-circle-outline" class="font-monospace" id="i-remove-circle-outline" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-remove-circle">
                <span class="u-block">
                    <i class="ico --remove-circle" style="font-size: 39px; "></i>
                    <i class="ico --remove-circle" style="font-size: 26px; "></i>
                    <i class="ico --remove-circle" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --remove-circle --before u-block u-truncate">remove-circle</span>
                    <span class="ico --remove-circle --before --large u-block u-truncate">remove-circle (large)</span>
                </span>
            </label>
            <input type="text" value="ico --remove-circle" class="font-monospace" id="i-remove-circle" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-remove">
                <span class="u-block">
                    <i class="ico --remove" style="font-size: 39px; "></i>
                    <i class="ico --remove" style="font-size: 26px; "></i>
                    <i class="ico --remove" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --remove --before u-block u-truncate">remove</span>
                    <span class="ico --remove --before --large u-block u-truncate">remove (large)</span>
                </span>
            </label>
            <input type="text" value="ico --remove" class="font-monospace" id="i-remove" readonly>
        </p>
    </div>

    <div class="u-float--left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed u-block" for="i-warning">
                <span class="u-block">
                    <i class="ico --warning" style="font-size: 39px; "></i>
                    <i class="ico --warning" style="font-size: 26px; "></i>
                    <i class="ico --warning" style="font-size: 13px; "></i>
                </span>
                <span class="u-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --warning --before u-block u-truncate">warning</span>
                    <span class="ico --warning --before --large u-block u-truncate">warning (large)</span>
                </span>
            </label>
            <input type="text" value="ico --warning" class="font-monospace" id="i-warning" readonly>
        </p>
    </div>

</div>
