<div class="lay-group">

    <div class="lay-left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed lay-block" for="i-account">
                <span class="lay-block">
                    <i class="ico --account" style="font-size: 39px; "></i>
                    <i class="ico --account" style="font-size: 26px; "></i>
                    <i class="ico --account" style="font-size: 13px; "></i>
                </span>
                <span class="lay-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --account ico --before lay-block con-truncate">account</span>
                    <span class="ico --account ico --before --large lay-block con-truncate">account (large)</span>
                </span>
            </label>
            <input type="text" value="--account" id="i-account" readonly />
        </p>
    </div>

    <div class="lay-left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed lay-block" for="i-apps">
                <span class="lay-block">
                    <i class="ico --apps" style="font-size: 39px; "></i>
                    <i class="ico --apps" style="font-size: 26px; "></i>
                    <i class="ico --apps" style="font-size: 13px; "></i>
                </span>
                <span class="lay-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --apps ico --before lay-block con-truncate">apps</span>
                    <span class="ico --apps ico --before --large lay-block con-truncate">apps (large)</span>
                </span>
            </label>
            <input type="text" value="--apps" id="i-apps" readonly />
        </p>
    </div>

    <div class="lay-left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed lay-block" for="i-arrow-down">
                <span class="lay-block">
                    <i class="ico --arrow-down" style="font-size: 39px; "></i>
                    <i class="ico --arrow-down" style="font-size: 26px; "></i>
                    <i class="ico --arrow-down" style="font-size: 13px; "></i>
                </span>
                <span class="lay-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --arrow-down ico --before lay-block con-truncate">arrow-down</span>
                    <span class="ico --arrow-down ico --before --large lay-block con-truncate">arrow-down (large)</span>
                </span>
            </label>
            <input type="text" value="--arrow-down" id="i-arrow-down" readonly />
        </p>
    </div>

    <div class="lay-left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed lay-block" for="i-arrow-left">
                <span class="lay-block">
                    <i class="ico --arrow-left" style="font-size: 39px; "></i>
                    <i class="ico --arrow-left" style="font-size: 26px; "></i>
                    <i class="ico --arrow-left" style="font-size: 13px; "></i>
                </span>
                <span class="lay-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --arrow-left ico --before lay-block con-truncate">arrow-left</span>
                    <span class="ico --arrow-left ico --before --large lay-block con-truncate">arrow-left (large)</span>
                </span>
            </label>
            <input type="text" value="--arrow-left" id="i-arrow-left" readonly />
        </p>
    </div>

    <div class="lay-left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed lay-block" for="i-arrow-right">
                <span class="lay-block">
                    <i class="ico --arrow-right" style="font-size: 39px; "></i>
                    <i class="ico --arrow-right" style="font-size: 26px; "></i>
                    <i class="ico --arrow-right" style="font-size: 13px; "></i>
                </span>
                <span class="lay-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --arrow-right ico --before lay-block con-truncate">arrow-right</span>
                    <span class="ico --arrow-right ico --before --large lay-block con-truncate">arrow-right (large)</span>
                </span>
            </label>
            <input type="text" value="--arrow-right" id="i-arrow-right" readonly />
        </p>
    </div>

    <div class="lay-left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed lay-block" for="i-arrow-up">
                <span class="lay-block">
                    <i class="ico --arrow-up" style="font-size: 39px; "></i>
                    <i class="ico --arrow-up" style="font-size: 26px; "></i>
                    <i class="ico --arrow-up" style="font-size: 13px; "></i>
                </span>
                <span class="lay-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --arrow-up ico --before lay-block con-truncate">arrow-up</span>
                    <span class="ico --arrow-up ico --before --large lay-block con-truncate">arrow-up (large)</span>
                </span>
            </label>
            <input type="text" value="--arrow-up" id="i-arrow-up" readonly />
        </p>
    </div>

    <div class="lay-left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed lay-block" for="i-briefcase">
                <span class="lay-block">
                    <i class="ico --briefcase" style="font-size: 39px; "></i>
                    <i class="ico --briefcase" style="font-size: 26px; "></i>
                    <i class="ico --briefcase" style="font-size: 13px; "></i>
                </span>
                <span class="lay-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --briefcase ico --before lay-block con-truncate">briefcase</span>
                    <span class="ico --briefcase ico --before --large lay-block con-truncate">briefcase (large)</span>
                </span>
            </label>
            <input type="text" value="--briefcase" id="i-briefcase" readonly />
        </p>
    </div>

    <div class="lay-left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed lay-block" for="i-caret-down">
                <span class="lay-block">
                    <i class="ico --caret-down" style="font-size: 39px; "></i>
                    <i class="ico --caret-down" style="font-size: 26px; "></i>
                    <i class="ico --caret-down" style="font-size: 13px; "></i>
                </span>
                <span class="lay-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --caret-down ico --before lay-block con-truncate">caret-down</span>
                    <span class="ico --caret-down ico --before --large lay-block con-truncate">caret-down (large)</span>
                </span>
            </label>
            <input type="text" value="--caret-down" id="i-caret-down" readonly />
        </p>
    </div>

    <div class="lay-left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed lay-block" for="i-caret-up">
                <span class="lay-block">
                    <i class="ico --caret-up" style="font-size: 39px; "></i>
                    <i class="ico --caret-up" style="font-size: 26px; "></i>
                    <i class="ico --caret-up" style="font-size: 13px; "></i>
                </span>
                <span class="lay-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --caret-up ico --before lay-block con-truncate">caret-up</span>
                    <span class="ico --caret-up ico --before --large lay-block con-truncate">caret-up (large)</span>
                </span>
            </label>
            <input type="text" value="--caret-up" id="i-caret-up" readonly />
        </p>
    </div>

    <div class="lay-left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed lay-block" for="i-check-circle">
                <span class="lay-block">
                    <i class="ico --check-circle" style="font-size: 39px; "></i>
                    <i class="ico --check-circle" style="font-size: 26px; "></i>
                    <i class="ico --check-circle" style="font-size: 13px; "></i>
                </span>
                <span class="lay-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --check-circle ico --before lay-block con-truncate">check-circle</span>
                    <span class="ico --check-circle ico --before --large lay-block con-truncate">check-circle (large)</span>
                </span>
            </label>
            <input type="text" value="--check-circle" id="i-check-circle" readonly />
        </p>
    </div>

    <div class="lay-left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed lay-block" for="i-download">
                <span class="lay-block">
                    <i class="ico --download" style="font-size: 39px; "></i>
                    <i class="ico --download" style="font-size: 26px; "></i>
                    <i class="ico --download" style="font-size: 13px; "></i>
                </span>
                <span class="lay-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --download ico --before lay-block con-truncate">download</span>
                    <span class="ico --download ico --before --large lay-block con-truncate">download (large)</span>
                </span>
            </label>
            <input type="text" value="--download" id="i-download" readonly />
        </p>
    </div>

    <div class="lay-left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed lay-block" for="i-exit">
                <span class="lay-block">
                    <i class="ico --exit" style="font-size: 39px; "></i>
                    <i class="ico --exit" style="font-size: 26px; "></i>
                    <i class="ico --exit" style="font-size: 13px; "></i>
                </span>
                <span class="lay-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --exit ico --before lay-block con-truncate">exit</span>
                    <span class="ico --exit ico --before --large lay-block con-truncate">exit (large)</span>
                </span>
            </label>
            <input type="text" value="--exit" id="i-exit" readonly />
        </p>
    </div>

    <div class="lay-left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed lay-block" for="i-help-outline">
                <span class="lay-block">
                    <i class="ico --help-outline" style="font-size: 39px; "></i>
                    <i class="ico --help-outline" style="font-size: 26px; "></i>
                    <i class="ico --help-outline" style="font-size: 13px; "></i>
                </span>
                <span class="lay-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --help-outline ico --before lay-block con-truncate">help-outline</span>
                    <span class="ico --help-outline ico --before --large lay-block con-truncate">help-outline (large)</span>
                </span>
            </label>
            <input type="text" value="--help-outline" id="i-help-outline" readonly />
        </p>
    </div>

    <div class="lay-left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed lay-block" for="i-language">
                <span class="lay-block">
                    <i class="ico --language" style="font-size: 39px; "></i>
                    <i class="ico --language" style="font-size: 26px; "></i>
                    <i class="ico --language" style="font-size: 13px; "></i>
                </span>
                <span class="lay-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --language ico --before lay-block con-truncate">language</span>
                    <span class="ico --language ico --before --large lay-block con-truncate">language (large)</span>
                </span>
            </label>
            <input type="text" value="--language" id="i-language" readonly />
        </p>
    </div>

    <div class="lay-left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed lay-block" for="i-menu">
                <span class="lay-block">
                    <i class="ico --menu" style="font-size: 39px; "></i>
                    <i class="ico --menu" style="font-size: 26px; "></i>
                    <i class="ico --menu" style="font-size: 13px; "></i>
                </span>
                <span class="lay-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --menu ico --before lay-block con-truncate">menu</span>
                    <span class="ico --menu ico --before --large lay-block con-truncate">menu (large)</span>
                </span>
            </label>
            <input type="text" value="--menu" id="i-menu" readonly />
        </p>
    </div>

    <div class="lay-left" style="width: 180px; padding-right: 20px; ">
        <p>
            <label class="form-row --condensed lay-block" for="i-timelapse">
                <span class="lay-block">
                    <i class="ico --timelapse" style="font-size: 39px; "></i>
                    <i class="ico --timelapse" style="font-size: 26px; "></i>
                    <i class="ico --timelapse" style="font-size: 13px; "></i>
                </span>
                <span class="lay-block" style="line-height: 1.35; margin: 5px 0; ">
                    <span class="ico --timelapse ico --before lay-block con-truncate">timelapse</span>
                    <span class="ico --timelapse ico --before --large lay-block con-truncate">timelapse (large)</span>
                </span>
            </label>
            <input type="text" value="--timelapse" id="i-timelapse" readonly />
        </p>
    </div>

</div>
